/* Home carousel  */

.hero-slider {
    .bx-wrapper {
        top: 20px;
    }
    ul {
        max-height: 500px;
        overflow: hidden;
        li {
            max-height: 500px;
            background-size: contain !important;
            img{
                width: auto;
                height: 500px;
                margin: 0 auto;
            }
        }
    }
    li.hero-banner.gif-hero.active-slide {
         //background-image: url('home-slider.gif');
    } 
}

//collection page
@-moz-document url-prefix() { 
    .full_list.fix-padding{
       position: relative;
       top: -120px;  
    }
}