    <!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <link rel="icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon">

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-card' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  

  {% if settings.ajax_cart %}
  <!-- Ajaxify Cart Plugin ================================================== -->
  {{ 'ajaxify.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% comment %}
    Setup respond.js for media query support in oldIE
    - By Gavin Ballard: http://gavinballard.com/using-respond.js-with-shopify-redux/
  {% endcomment %}
  {% assign respond_js_secret_key = (shop.domain | md5) %}
  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <script src="{{ 'respond.min.js' | asset_url }}"></script>
  <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
  <link href="//{{shop.domain}}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
  <script src="//{{shop.domain}}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
  <![endif]-->

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {% comment %}
    Theme dependent JS is loaded at the very bottom of this file for performance reasons.
    However, jQuery is included here so that it can be used inside the templates, e.g. in product.liquid.
  {% endcomment %}
  
  <!-- CSS ================================================== -->
  {{ 'reset.css' | asset_url | stylesheet_tag }}
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  {{ 'fonts.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.bxslider.css' | asset_url | stylesheet_tag }}
  {{ 'meanmenu.css' | asset_url | stylesheet_tag }}
  {{ 'colorbox.css' | asset_url | stylesheet_tag }}
  {{ 'video-js.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {{ 'theme.min.css' | asset_url | stylesheet_tag }} 
  <!-- Owl ================================================== -->
  {{ 'owl.theme.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  
  
  <!-- JS ================================================== -->
  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'jquery.bxslider.js' | asset_url | script_tag }}
  {{ 'jquery.meanmenu.js' | asset_url | script_tag }}
  {{ 'jquery-ui.js' | asset_url | script_tag }}
  {{ 'jquery.colorbox.js' | asset_url | script_tag }}
  {{ 'videojs-ie8.min.js' | asset_url | script_tag }}
  {{ 'video.js' | asset_url | script_tag }}
  {{ 'jquery.zoom.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }} 
  <!--   {{ 'mc-validate.js' | asset_url | script_tag }} -->
  {{ 'scripts.min.js' | asset_url | script_tag }}
  <!-- Owl ================================================== -->
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}

<script>
	document.createElement('footer');
	document.createElement('section');
	document.createElement('header');
	document.createElement('figure');
	document.createElement('figcaption');
</script>
</head>


<body id="{% if template == 'index' or template == 'collection' %}banner{% else %}{{ page_title | handle }}{% endif %}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

<!-- HEADER START -->
{% include 'header' %} 
<!-- HEADER END --> 

<!-- CONTENT START -->
{{ content_for_layout }} 
<!-- CONTENT END -->
    
<!-- FOOTER START -->
{% include 'footer' %}
<!-- FOOTER END --> 
  
  {% include 'contact-popup' %}

  {% comment %}
    An (almost) empty JS file for you to place your code
  {% endcomment %}
  {{ 'shop.js' | asset_url | script_tag }}

  {% comment %}
    Ajaxify your cart with this plugin. Adding a product will reveal a drawer, modal, or confirmation button.
    Enabled by default in theme settings.

    Ajaxify Cart Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart %}
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajaxify.js' | asset_url | script_tag }}
  <script>
  jQuery(function($) {
    ajaxifyShopify.init({
      method: '{{ settings.ajax_cart_method }}', // Method options are drawer, modal, and flip. Default is drawer.
      wrapperClass: 'wrapper', // The class that defines your site width. Default is null.
      formSelector: '#addToCartForm', // Default is form[action^="/cart/add"].
      addToCartSelector: '#addToCart', // Default is input[type="submit"] within 'formSelector'.
      cartCountSelector: '#cartCount', // Update number of items in the cart when a product is added. Default is null.
      cartCostSelector: '#cartCost', // Update the total cart cost when a product is added. Default is null.
      toggleCartButton: '#cartToggle', // To toggle drawer/modal cart, include the selector here. Default is null and will take you to /cart page.
      useCartTemplate: true, // True to use cart.liquid markup. False to use handlebars.js for template. Default is true.
      btnClass: 'btn', // Your main button class for styling purposes if useCartTemplate is set to false. Default is null.
      moneyFormat: {{ shop.money_format | json }}, // Your shop money format, defined in liquid.
      disableAjaxCart: false, // If for some reason you want to disable the cart, set to true. Default is false.
      enableQtySelectors: true, // Enable the quantity selectors on your templates, even if disableAjaxCart is false. Default is true.
      prependDrawerTo: 'body' // The element selector where the cart is prepended. This is used for the drawer and flip methods. Default is 'body'.
    });
  });
  </script>
  {% endif %}


  

{% comment %}<div id="instafeed"></div>{% endcomment %}
<!-- INSTAGRAM FEED  -->
{{ 'instafeed.min.js' | asset_url | script_tag }}
<script type="text/javascript">
  $(function() {
    if ($('#instafeed').length) {
      var feed = new Instafeed({
        get: 'tagged',
        tagName: 'modernsprout',
        clientId: '2f74955b7cf2485181762e01b0d4c23a',
        resolution: 'low_resolution',
        accessToken: '2034602980.2f74955.9199a6a3c390408cb6e7a820fd79f133'
      });
      feed.run();
    }
  });
</script>
<!-- INSTAGRAM FEED END -->

{% include 'product-list-add' %}
  
{{ 'custom.js' | asset_url | script_tag }}
</body>
</html>
