<div class="featu_list">                
  {% for i in (1..23) %}
  {% assign use_logo = 'featured_logo_' | append: i | append: '_active'  %}
  {% assign featured_img = 'featured_logo_' | append: i | append: '.png'  %}
  {% assign featured_link = 'featured_logo_link_' | append: i %}

  {% if settings[use_logo] %}
  <div class="featu_logo">
    <div class="client_logo">
      <a href="{{ settings[featured_link] }}" target="_blank"><img src="{{ featured_img | asset_url }}" /></a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  <div class="clear"></div>
</div>