{% comment %}
  Recent blog posts
{% endcomment %}
<h4>Recent Articles</h4>
{% for article in blog.articles limit:6 %}
  <div class="recent-post">
    <h6><a href="{{ article.url }}">{{ article.title }}</a></h6>
    <p class="post-dtl">
    <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
      {{ article.published_at | date: '%b %d, %Y' }}
    </time>
    </p>
  </div>
{% endfor %}

{% comment %}
  Blog tags
{% endcomment %}
{% if blog.all_tags.size > 0 %}
  <h4>Categories</h4>
  <ul>
    {% for tag in blog.all_tags %}
      {% if current_tags contains tag %}
      <li>{{ tag }}</li>
      {% else %}
      <li>{{ tag | link_to_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
