{% comment %}

  This snippet is used to showcase each collection during the loop,
  'for product in collection.products' in list-collections.liquid.

{% endcomment %}
{% capture collection_title %}{{ collection.title | escape }}{% endcapture %}


<div class="four_grid_slider">
    <div class="container">
        <h1 class="main_title">{{ collection_title }}<a href="{{ collection.url }}" title="Browse our {{ collection_title }} collection">view all {{ collection_title }} &rsaquo;</a></h1>
        <div class="product_list">
            {% for product in collection.products limit:4 %}
                {% include 'product-grid-item' %}
            {% else %}
                <p class="no-found">Sorry, there are no products matching your search.</p>
            {% endfor %}                               
        </div>  
        <div class="clear"></div>            
    </div>
</div>