{% if settings.collection_1_active %}
    <div id="planters" class="four_grid_slider">
    	<div class="container">
              <h1 class="main_title">self-watering herb kits{% for collection in collections %}{% if collection.handle == 'herb-kits' %}<a href="{{ collection.url }}" title="Browse our {{ collection.title | escape }} collection">view all {{ collection.title | escape }} &rsaquo;</a>{% endif %}{% endfor %}</h1>
              <div class="product_list">
              	{% for product in collections.herb-kits.products %}
                	{% include 'product-grid-item' %}
                {% else %}
                    <p class="no-found">Sorry, there are no products matching your search.</p>
                {% endfor %}
              </div>  
             <div class="clear"></div>            
		</div>
    </div>
    {% endif %}
    {% if settings.collection_3_active %}
    <div id="bulb_kits" class="four_grid_slider">
    	<div class="container">
        	<h1 class="main_title">seasonal kits{% for collection in collections %}{% if collection.handle == 'seasonal-kits' %}<a href="{{ collection.url }}" title="Browse our {{ collection.title | escape }} collection">view all {{ collection.title | escape }} &rsaquo;</a>{% endif %}{% endfor %}</h1>
            <div class="product_list">
                {% for product in collections.seasonal-kits.products %}
                	{% include 'product-grid-item' %}
                {% else %}
                    <p class="no-found">Sorry, there are no products matching your search.</p>
                {% endfor %}                                
            </div>  
            <div class="clear"></div>            
		</div>
    </div>
    {% endif %}
    {% if settings.collection_4_active %}
    <div id="kits" class="four_grid_slider">
    	<div class="container">
        	<h1 class="main_title">3-pot hydroponic planters{% for collection in collections %}{% if collection.handle == 'hydro-planters' %}<a href="{{ collection.url }}" title="Browse our {{ collection.title | escape }} collection">view all {{ collection.title | escape }} &rsaquo;</a>{% endif %}{% endfor %}</h1>
            <div class="product_list">
                {% for product in collections.hydro-planters.products %}
                	{% include 'product-grid-item' %}
                {% else %}
                    <p class="no-found">Sorry, there are no products matching your search.</p>
                {% endfor %}                               
            </div>  
            <div class="clear"></div>            
		</div>
    </div>
    {% endif %}
    {% if settings.collection_5_active %}
    <div id="planter_accessories" class="four_grid_slider">
    	<div class="container">
        	<h1 class="main_title">seed starters{% for collection in collections %}{% if collection.handle == 'seed-starters' %}<a href="{{ collection.url }}" title="Browse our {{ collection.title | escape }} collection">view all {{ collection.title | escape }} &rsaquo;</a>{% endif %}{% endfor %}</h1>
            <div class="product_list">
                {% for product in collections.seed-starters.products %}
                	{% include 'product-grid-item' %}
                {% else %}
                    <p class="no-found">Sorry, there are no products matching your search.</p>
                {% endfor %}                           
            </div>  
            <div class="clear"></div>            
		</div>
    </div> 
    {% endif %} 
    {% if settings.collection_4_active %}
    <div id="planter_accessories" class="four_grid_slider">
    	<div class="container">
        	<h1 class="main_title">3-pot hydroponic planter accessories{% for collection in collections %}{% if collection.handle == 'accessories' %}<a href="{{ collection.url }}" title="Browse our {{ collection.title | escape }} collection">view all {{ collection.title | escape }} &rsaquo;</a>{% endif %}{% endfor %}</h1>
            <div class="product_list">
                {% for product in collections.accessories.products %}
                	{% include 'product-grid-item' %}
                {% else %}
                    <p class="no-found">Sorry, there are no products matching your search.</p>
                {% endfor %}                           
            </div>  
            <div class="clear"></div>            
		</div>
    </div> 
    {% endif %}