
<div id="cntct-pop-l" style='display:none'>
  <a href="#contact-msg" class="contact_popup">contact us message</a>
</div>

<div style='display:none'>
<div id="contact-msg">
    {% form 'contact' %}
    {% if form.posted_successfully? %}
      <p class="note form-success">
        Thanks for contacting us! We'll get back to you as soon as possible.
      </p>
    {% endif %}

    {% include 'form-errors-custom' %}
    {% endform %}  
</div>
</div>
<!--===============   CONATCT  POPUP   =================-->

<div style='display:none'>
    <div id='contact_popup' class="contact_us">
    	<h2 class="contact_title">contact us</h2>
   		<div class="contactWrapper">
        	<form method="post" id="cntct_form_popup" action="/contact" class="contact-form" accept-charset="UTF-8">
              
              {% if form.posted_successfully? %}
                <p class="note form-success">
                  Thanks for contacting us! We'll get back to you as soon as possible.
                </p>
              {% endif %}

              {% include 'form-errors-custom' %}
              
              <input type="hidden" value="contact" name="form_type">
              <input type="hidden" name="utf8" value="✓">
              
                <div class="input_group">
                    <label  class="form-label">your name*</label>
                    <input type="text" id="contactFormName" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" >
                </div>
                <div class="input_group">
                    <label class="form-label">your email address *</label>
                    <input type="email" id="contactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required>
                </div>                 
                <div class="input_group">
                    <label class="form-label">How can we help?</label>
                    <div class="styled-select">
                      <select id="contactHelp" name="contact[help]">
                         <option>please select</option>
                         <option>customer service</option>
                         <option>wholesale</option>
                         <option>general</option>
                      </select>
                    </div>
                </div>                
                <div class="input_group">            	            
                    <label class="form-label">message subject</label>
                    <input type="text" id="contactSubject" name="contact[subject]" >
                </div>
              <div class="clear"></div>
                <div class="textarea_group">
                    <label class="form-label">your message</label>
                    <textarea rows="10" id="contactFormMessage" name="contact[body]" placeholder="Message">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                </div>
                <input type="submit" id="popup_submit" name="checkout" class="style_btn send_msg" value="send message">
            </form>
            <div class="clear"></div>
          </div>
        <div class="contact_footer">
        	<ul class="contactInfo-ul">
            	<li><i class="fa fa-envelope-o"></i><a href="mailto:sprout@modsprout.com">sprout@modsprout.com</a></li>
                <li><i class="fa fa-map-marker"></i>Chicago, IL</li>
            </ul>
            <ul class="social_icon1">
                {% if settings.social-links-facebook != blank %}<li><a href="{{ settings.social-links-facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>{% endif %}
                {% if settings.social-links-twitter != blank %}<li><a href="{{ settings.social-links-twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>{% endif %}
                {% if settings.social-links-instagram != blank %}<li><a href="{{ settings.social-links-instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>{% endif %}
                {% if settings.social-links-pin != blank %}<li><a href="{{ settings.social-links-pin }}" target="_blank"><i class="fa fa-pinterest"></i></a></li>{% endif %}
                {% if settings.social-links-email != blank %}<li><a href="{{ settings.social-links-email }}" target="_blank"><i class="fa fa-envelope"></i></a></li>{% endif %}
                {% if settings.social-links-flickr != blank %}<li><a href="{{ settings.social-links-flickr }}" target="_blank"><i class="fa fa-flickr"></i></a></li>{% endif %}
                {% if settings.social-links-google-plus != blank %}<li><a href="{{ settings.social-links-google-plus }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>{% endif %}
                {% if settings.social-links-linkedin != blank %}<li><a href="{{ settings.social-links-linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>{% endif %}
                {% if settings.social-links-rss != blank %}<li><a href="{{ settings.social-links-rss }}" target="_blank"><i class="fa fa-rss"></i></a></li>{% endif %}
                {% if settings.social-links-youtube != blank %}<li><a href="{{ settings.social-links-youtube }}" target="_blank"><i class="fa fa-youtube"></i></a></li>{% endif %}
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
        </div>  
    </div>
</div>



