

{% layout settings.customer_layout %}

<div id="content" class="inner-wrap">
	<div class="container">      	
      	<div class="inner-content"> 
        	<div class="login-left">
            	
                <div class="note form-success" id="resetSuccess" style="display:none;">
                    We've sent you an email with a link to update your password.
                </div>

                {% form 'customer_login' %}
                	<h2>login</h2>   
                    {% include 'form-errors-custom' %}
                    <label for="customer_email" class="hidden-label">Email Address</label>
                    <input type="email" value="" name="customer[email]" id="customer_email" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>
                    
                    {% if form.password_needed %}
                        <label for="customer_password" class="hidden-label">Password</label>
                        <input type="password" value="" name="customer[password]" id="customer_password" {% if form.errors contains "password" %} class="error"{% endif %}>
                        <p class="forgot-pass"><a href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a></p>
                    {% endif %}
                    
                    <div class="text-center">
                    	<input type="submit" class="btn" value="Sign In">        
                    </div>
                
                {% endform %}

    
                <div id="recover_password" style="display: none;">
                
                  <h2>Reset your password</h2>
                  <p>We will send you an email to reset your password.</p>
                
                  {% form 'recover_customer_password' %}            
                    {% include 'form-errors-custom' %}
                
                    {% if form.posted_successfully? %}
                      {% assign reset_success = true %}
                    {% endif %}
                
                    <label for="recover-email" class="hidden-label">Email</label>
                    <input type="email" value="" name="email" id="recover-email" autocorrect="off" autocapitalize="off">
                
                    <div class="text-center">
                      <input type="submit" class="btn" value="Submit">
                      or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a>
                    </div>
                  {% endform %}
                
                
                  {% comment %}
                    If accounts are set as optional, the following will be shown as an option
                    during checkout, not on the default /login page.
                  {% endcomment %}
                  {% if shop.checkout.guest_login %}
                
                    <hr>
                
                    <h2>Continue as a guest</h2>
                
                    {% form 'guest_login' %}
                      <input  type="submit" class="btn" value="Let's go">
                    {% endform %}
                  {% endif %}
                
                </div><!-- END RECOVER-PASSWORD -->
            </div><!-- END LOGIN -->
            
            <div class="register-right">
            	<h2>New user? Create your account</h2>
            	{% form 'create_customer' %}

                  {% include 'form-errors-custom' %}
            
                  <label for="first_name" class="hidden-label">First Name</label>
                  <input type="text" value="" name="customer[first_name]" id="first_name" {% if form.errors contains "first_name" %} class="error"{% endif %} autocapitalize="words" autofocus>
            
                  <label for="last_name" class="hidden-label">Last Name</label>
                  <input type="text" value="" name="customer[last_name]" id="last_name" {% if form.errors contains "last_name" %} class="error"{% endif %} autocapitalize="words">
            
                  <label for="email" class="hidden-label">Email Address</label>
                  <input type="email" value="" name="customer[email]" id="email" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off">
            
                  <label for="password" class="hidden-label">Password</label>
                  <input type="password" value="" name="customer[password]" id="create_password" {% if form.errors contains "password" %} class="error"{% endif %}>
            
            	  <input type="submit" value="Create" class="btn">
            
                {% endform %}
            </div><!-- END REGISTER-RIGHT -->
            
            <div class="clear"></div>
            
		</div><!-- END INNER-CONTENT -->
	</div><!-- END CONTAINER -->
</div> <!-- END CONTENT -->


<script>
  /*
    Show/hide the recover password form when requested.
    I'd suggest using some CSS3 transitions to make this change look cool,
    but this gets the job done for now.
  */
  function showRecoverPasswordForm() {
    document.getElementById('recover_password').style.display = 'block';
    document.getElementById('customer_login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover_password').style.display = 'none';
    document.getElementById('customer_login').style.display = 'block';
  }

  // Allow deep linking to the recover password form
  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
    document.getElementById('resetSuccess').style.display = 'block';
  {% endif %}
</script>
