<footer>
	<div class="footer_section">
    	<div class="container">
        	<div class="top_footer">
                <div class="footer_right">
                    <div class="right_title">
                        <div class="grow_tell">
                            <h5>Grow & Tell</h5>
                            <ul class="social_icon1">
                                {% if settings.social-links-facebook != blank %}<li><a href="{{ settings.social-links-facebook }}" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a><span>like us</span></li>{% endif %}
                                {% if settings.social-links-twitter != blank %}<li><a href="{{ settings.social-links-twitter }}" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a><span>tweet us</span></li>{% endif %}
                                {% if settings.social-links-instagram != blank %}<li><a href="{{ settings.social-links-instagram }}" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a><span>follow us</span></li>{% endif %}
                                {% if settings.social-links-pin != blank %}<li><a href="{{ settings.social-links-pin }}" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a><span>pin us</span></li>{% endif %}
                                <div class="clear"></div>
                            </ul>
                        </div>
                        <div class="grow_tell">
                          	
                            <h5>{{ settings.footer_newsltr_title }}</h5>
                            {% if settings.footer_display_newsletter %}
                            <div class="email">
                                {% comment %}{% include 'newsletter-form' %}{% endcomment %}
                              {% include 'newsletter-form-new' %}
                            </div>
                            {% endif %}
                        </div>
                     </div>
                </div>
                {% if settings.footer_display_quicklinks %}
                <div class="footer_left">
                    <div class="col shop">
                        <h5>{{ settings.footer_quicklinks_linklist_1_name }}</h5>
                        <ul>
                        	{% for link in linklists[settings.footer_quicklinks_linklist_1_menu].links %}
                            	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
            				{% endfor %}
                        </ul>
                    </div>
                    <div class="col support">
                        <h5>{{ settings.footer_quicklinks_linklist_2_name }}</h5>  
                        <ul>                       
                        {% for link in linklists[settings.footer_quicklinks_linklist_2_menu].links %}                        	
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% if forloop.index == 6 or forloop.index == 12 %}</ul><ul>{% endif %}
                        {% endfor %}
                      	{% if customer %}
                      		<li>{{ 'Log out' | customer_logout_link }}</li>
                      	{% endif %}
                        </ul>
                    </div>        	
                    <div class="col connect">
                     <h5>{{ settings.footer_quicklinks_linklist_3_name }}</h5>
                      	<ul>
                        {% for link in linklists[settings.footer_quicklinks_linklist_3_menu].links %}                        	
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% if forloop.index == 6 or forloop.index == 12 %}</ul><ul>{% endif %}
                        {% endfor %}
                      	{% if customer %}
                      		<li>{{ 'Log out' | customer_logout_link }}</li>
                      	{% endif %}
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="footer_bottom">
    	<div class="container">
        	<div class="footer_info"><p>&copy; 2015 MODERN SPROUT  |  ALL RIGHTS RESERVED.</p></div>
        </div>
    </div>
</footer>