<header id="header">
	<div class="top_header">
    	<div class="container">       		
            <ul class="social_icon">
                {% if settings.social-links-facebook != blank %}<li><a href="{{ settings.social-links-facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>{% endif %}
                {% if settings.social-links-twitter != blank %}<li><a href="{{ settings.social-links-twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>{% endif %}
                {% if settings.social-links-instagram != blank %}<li><a href="{{ settings.social-links-instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>{% endif %}
                {% if settings.social-links-pin != blank %}<li><a href="{{ settings.social-links-pin }}" target="_blank"><i class="fa fa-pinterest"></i></a></li>{% endif %}
                {% if settings.social-links-email != blank %}<li><a href="{{ settings.social-links-email }}" target="_blank"><i class="fa fa-envelope"></i></a></li>{% endif %}
                {% if settings.social-links-flickr != blank %}<li><a href="{{ settings.social-links-flickr }}" target="_blank"><i class="fa fa-flickr"></i></a></li>{% endif %}
                {% if settings.social-links-google-plus != blank %}<li><a href="{{ settings.social-links-google-plus }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>{% endif %}
                {% if settings.social-links-linkedin != blank %}<li><a href="{{ settings.social-links-linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>{% endif %}
                {% if settings.social-links-rss != blank %}<li><a href="{{ settings.social-links-rss }}" target="_blank"><i class="fa fa-rss"></i></a></li>{% endif %}
                {% if settings.social-links-youtube != blank %}<li><a href="{{ settings.social-links-youtube }}" target="_blank"><i class="fa fa-youtube"></i></a></li>{% endif %}
            </ul>
            <ul class="top_link clearfix"> 
            	{% for link in linklists.top-header-nav.links %} 
                	<li><a href="{{ link.url }}" {% if link.title == 'contact us' %}class="contact_popup"{% endif %}>{{ link.title }}</a></li>
                {% endfor %} 
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="main_header">
    	<div class="container">
        	<div class="logo">
                {% if settings.logo_use_image %}
                  <a href="/" itemprop="url">
                    <img class="main-logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                    <img class="small-logo" src="{{ 'logo_small.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                  </a>
                {% else %}
                  <a href="/" itemprop="url">{{ shop.name }}</a>
                {% endif %}
            </div>
            <nav id="main-nav">
                {% include 'site-nav' %}
            </nav>
            <div class="clear"></div>
        </div>
    </div>
</header>