<div id="instagram">
  <div class="container">
    <div class="insta_cont border_none">
      <div class="insta_head">
        <h1 class="insta_title">#modernsprout</h1>
        <h4><a href="https://instagram.com/explore/tags/modernsprout" target="_blank">share your photo!</a></h4>
      </div>
      
      <div class="insta_list_n">
      
      </div>
      
      <div class="clear"></div>  
    </div>          
  </div>  
</div>

<div style="display:none;" id="instafeed"></div>

<script type="text/javascript">
$(window).load(function(e) {
    $('#instafeed a').each(function(index, element) {
        var insta_img_link = $(this).attr('href');
		var insta_img = $(this).find('img').attr('src');
		$('.insta_list_n').prepend('<div class="insat_img"><a href="'+insta_img_link+'"><img src="'+insta_img+'" /></a></div>');
    });
	
	if (jQuery(window).width() <= 480) {
		$('#instagram .insta_list_n').bxSlider({
		  minSlides:2,
		  maxSlides:2,
		  slideWidth:120,
          slideMargin:10,
		  pager: false,	
		  auto: false,
		  controls: true,
          infiniteLoop: false,
          moveSlides:1
		});	
	}
	if (jQuery(window).width() >= 481 && jQuery(window).width() <= 767 ) {
		$('#instagram .insta_list_n').bxSlider({
		  minSlides:2,
		  maxSlides:2,
		  slideWidth:200,
		  slideMargin:14,
		  pager: false,	
		  auto: false,
		  controls: true,
          infiniteLoop: false,
          moveSlides:1
		});	
	}
	if (jQuery(window).width() >= 768 && jQuery(window).width() <= 1024 ) {
		$('#instagram .insta_list_n').bxSlider({
		  minSlides:3,
		  maxSlides:3,
		  slideWidth:200,
		  slideMargin:18,

		  pager: false,	
		  auto: false,
		  controls: true,
          infiniteLoop: false,
          moveSlides:1
		});	
	}
	else if (jQuery(window).width() >= 1025 && jQuery(window).width() <= 1180 ) {
		$('#instagram .insta_list_n').bxSlider({
		  minSlides:4,
		  maxSlides:4,
		  slideWidth:210,
		  slideMargin:20,
		  pager: false,	
		  auto: false,
		  controls: true,
          infiniteLoop: false,
          moveSlides:1
		});	
	}
	else if(jQuery(window).width() >= 1181){
	  $('#instagram .insta_list_n').bxSlider({
		minSlides:4,
		maxSlides:4,
		slideWidth:270,
		slideMargin:30,
		pager: false,	
		auto: false,
		controls: true,
		infiniteLoop: false,
		moveSlides:1
	  });
	}
});
</script>