{% unless template == 'product' %} 
<!-----=============   POPUP  =============-------->
    
    <div style='display:none'>
        <div id='cart_popup'>
        	
            <h1 class="cart_title">1 item added to your cart</h1>
            
            <div class="popup_cart_item" data-id="{{ item.id }}">                	
                <div class="popup_cart_list">
                    <div class="popup_cart_img">
                        <img src="{{ 'no-img-logo.jpg' | asset_url }}" alt="{{ product.title | escape }}">
                    </div>
                    <div class="popup_cart_info">
                        <h4></h4>
                        <div class="cart_price"></div>
                       	<p class="p-c-qty">Quantity: <span>1</span></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            
          
          	                            			
              	<div class="rec_accessories" style="display:none">
                  <div class="rec_accessories_title">recommended accessories</div>
                  <div class="accessories_list">
                      {% for product in collections.accessories.products %}
                          <div class="accessories_item">
                              <div class="accessories_img">
                                  <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
                              </div>
                              <div class="accessories_info">
                                  <div class="acc_title"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
                                  {% comment %}<p class="snd_title">moss topper to cover the plastic top tray</p>{% endcomment %}
                                  <form action="" method="post" class="variants" id="prodAccesories-{{ product.id }}" enctype="multipart/form-data">
                                  <div class="price_cart" data-id="{{ product.id }}">
                                      <p class="cart_price">{{ product.price | money }}</p>
                                      <div style="display:none;"> 
                                          <select id="product-select" name="id">
                                              {% for variant in product.variants %}
                                              <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                      <span class="add">Add</span>
                                      <input style="display:none;" class="add" type="submit" name="add" id="add-acce-cart" value="add" />                             
                                  </div>
                                  </form>
                              </div>
                          </div>
                      {% else %}    
                          <p>Sorry, there are no products matching your search.</p>
                      {% endfor %} 
                  </div>
                  <div class="clear"></div>
              </div>
            	
          
            
           	<form action="/cart" method="post" novalidate>
                <div class="cont_shopping">
                    <input type="submit" id="checkout_prod_dtl" name="checkout" class="checkout" value="checkout">
                    <a class="colorboxCartCheckout style_btn2" id="checkout-popup" href="#gift_popup">Check out</a>
                    <a href="" class="continue">continue shopping</a>
                    <div class="clear"></div>
                </div>
                <!-- Cart Attribute -->
                <div class="cart-attr-hide">                	
                    <!--<div class="cart-attribute__field">
                        <label>Is this gift:</label><br>
                      <input type="radio" id="gift-yes" name="attributes[Is this a Gift?]" value="yes"{% if cart.attributes["Is this a Gift?"] == "yes" %} checked{% endif %}> <span>yes</span>
                      <input type="radio" id="gift-no" name="attributes[Is this a Gift?]" value="no"{% if cart.attributes["Is this a Gift?"] == "no" %} checked{% endif %}> <span>no</span>
                    </div>
                    <div class="hide-attr-gift-rcpt">
                        <label>Gift Receipt</label>
                        <input type="text" id="c-gift-rcpt-attr" name="attributes[Gift Receipt]" value="No">                      
                    </div>-->
                    <div class="hide-attr-gift-msg">
                        <label>Gift Message</label>
                        <!--<textarea id="giftMessage" name="attributes[Gift Message]"></textarea>-->
                        <textarea id="product_note" name="note"></textarea>
                    </div>
                </div>
            </form>
            
        </div>
    </div>

<!-- ============== GIFT POPUP ======================= -->
<div style="display:none;">
  <div id="gift_popup">


    <h1>Is this a gift?<div class="gift-y-n"><span id="gift-yes">Yes</span><span id="gift-no">No</span></div></h1>

    <div class="gift-cb-opt">
      <div class="gift-opt-bx">
        <div class="gift-img">
          <img src="{{ 'gift-receipt.jpg' | asset_url }}" />
          <p>Free</p>
          <div class="clear"></div>
        </div>
        <div class="gift-cb">
          <input id="gift-receipt" type="checkbox">gift receipt
        </div>
      </div>

      {% for product in collections.gift-card.products %}
      <div class="gift-opt-bx">
        <div class="gift-img">
          {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
          <img src="{{ featured_image | img_url: 'original' }}" alt="{{ featured_image.alt | escape }}" />
          <p>{{ product.price | money | remove: '.00' }}</p>
          <div class="clear"></div>
        </div>
        <div class="gift-cb">
          <input id="gift-wrap-card" type="checkbox">{{ product.title }}
        </div>
        <div class="c-g-prod" style="display:none;">
          <form action="/cart/add" method="post" class="variants" id="giftOpt-{{ product.id }}" enctype="multipart/form-data">
            <select id="product-select" name="id">
              {% for variant in product.variants %}
              <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
            <input class="add" type="submit" name="add" id="add-gift-cart-{% if forloop.index == 1 %}1{% else %}2{% endif %}" value="add" /> 

          </form>
        </div>
      </div>                        
      {% endfor %}                       

      <div class="clear"></div>
    </div>    

    <div class="gift-msg">
      <label>type your message</label>
      <textarea id="popup-gift-msg"></textarea>
    </div> 

    <div id="c-g-chckout" class="style_btn2">proceed to checkout</div>                      
    <div class="clear"></div>
  </div>
</div>

<script type="text/javascript">


// ===== Is this a Gift?
var isThisGift_val = 'No';
$('.gift-y-n span').each(function(index, element) {
    $(this).click(function(e) {
		$(this).addClass('g-active');
		$(this).siblings().removeClass('g-active');
        isThisGift_val = $(this).text();
    });
});


// ===== Gift Receipt
var giftReceipt = 'No';
$('#gift-receipt').click(function(e) {
    if($(this).prop('checked') == true){
		giftReceipt = 'Yes';
	}
	else{
		giftReceipt = 'No';
	}
});






function addGiftItem1(form_id) {
  $.ajax({
	type: 'POST',
	url: '/cart/add.js',
	dataType: 'json',
	data: $('#'+form_id).serialize(),
	success: Shopify.onSuccessGift,
	error: Shopify.onError
  });
}
function addGiftItem2(form_id) {
  $.ajax({
	type: 'POST',
	url: '/cart/add.js',
	dataType: 'json',
	data: $('#'+form_id).serialize(),
	success: Shopify.onSuccessGift,
	error: Shopify.onError
  });
}
   
$('#add-gift-cart-1').click(function(e) {
	e.preventDefault();
	var get_gift_prod_id = $(this).parent().attr('id');
	addGiftItem1(get_gift_prod_id);
}); 

$('#add-gift-cart-2').click(function(e) {
	e.preventDefault();
	var get_gift_prod_id = $(this).parent().attr('id');
	addGiftItem2(get_gift_prod_id);
}); 

$('#c-g-chckout').click(function(e) {
	var gift_msg_prod_dtl = $('#popup-gift-msg').val();
	//$('#giftMessage').val(gift_msg_prod_dtl);
	if(gift_msg_prod_dtl){
		var isThisGift_pre = '\n\n------------------------\n\nGift: ' + isThisGift_val;
	}
	else{
		var isThisGift_pre = 'Gift: ' + isThisGift_val;	
	}
	var giftReceipt_pre = '\nGift Receipt: ' + giftReceipt;
    $('#product_note').val(gift_msg_prod_dtl + isThisGift_pre + giftReceipt_pre);
	
	var if_checkbox_notchecked = 0;
    $('.gift-cb-opt .gift-opt-bx #gift-wrap-card').each(function(index, element) {
        if($(this).prop("checked") == true){
			$(this).parent().parent().find('.c-g-prod form input[type="submit"]').trigger('click');	
		}
		else{
			if_checkbox_notchecked ++;	
		}
    });
	if(if_checkbox_notchecked > 0){
		$('#checkout_prod_dtl').trigger('click');	
	}
});

Shopify.onSuccessGift = function() {
	$('#checkout_prod_dtl').trigger('click');
};

(jQuery);

</script>

<script type="text/javascript">
function addListItem(form_id) {
  $.ajax({
	type: 'POST',
	url: '/cart/add.js',
	dataType: 'json',
	data: $('#'+form_id).serialize(),
	success: onListItemSuccess(),
	error: Shopify.onError
  });
}
function onListItemSuccess(){
	
}

$('.product_list .product_item #add-to-cart-list').each(function(index, element) {    

	$(this).click(function(e) {
		e.preventDefault();	
		if($(this).hasClass('hydro-planters')){
			$('.rec_accessories').show();	
		}
		addListItem($(this).parent().attr('id'));
		$(this).parent().find('#added-popup').trigger('click');
		var added_list_item_img = $(this).parent().parent().parent().find('.img-overlay a:first-child img').attr('src');
		var added_list_item_title = $(this).parent().parent().parent().find('.pd_title').text();
		var added_list_item_price = $(this).parent().parent().parent().find('.price').text();
		$('#cart_popup .popup_cart_img img').attr('src',added_list_item_img);
		$('#cart_popup .popup_cart_info h4').text(added_list_item_title);
		$('#cart_popup .popup_cart_info .cart_price').text(added_list_item_price);
	});

});
</script>

<script type="text/javascript">
function addItem(form_id) {
  $.ajax({
	type: 'POST',
	url: '/cart/add.js',
	dataType: 'json',
	data: $('#'+form_id).serialize(),
	success: onListAcceSuccess(),
	error: Shopify.onError
  });
}
function onListAcceSuccess(){
	
}
$('#cart_popup .accessories_item span.add').each(function(index, element) {
	$(this).on('click', function() {
		var $this = $(this);
		if ($this.data('open')) {
			$this.text("add");
			$this.parent().parent().removeClass('addedItem');
			$this.data('open', 0);	
		}
		else {
			$this.text("remove");
			$this.parent().parent().addClass('addedItem');
			$this.data('open', 1);
		}
	});
});

$('.cont_shopping .continue, .cont_shopping .checkout, #cboxClose, #checkout-popup').click(function(e) {
	$('#cart_popup .rec_accessories form.addedItem #add-acce-cart').each(function(index, element) {
		$(this).trigger('click');
	});
});
$('.accessories_list .accessories_item #add-acce-cart').click(function(e) {
	  e.preventDefault(); 
	  var current_prod_form_id = $(this).parent().parent().attr('id');
	  var current_prod_variant = $(this).parent().attr('data-id');
	  //$(this).prop('disabled', true);     
	  addItem(current_prod_form_id);				  				  
	  
});
</script>
{% endunless %}