{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Set a class for sold-out and on-sale items
{% endcomment %}

{% assign data_array = collection-listing %}
{{ data_array }}


<div class="product_item {% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
    <div class="img-overlay">
        <a href="{{ product.url | within: collection }}">
        	<img src="{% if product.featured_image.size > 0 %}{{ product.images[0] | product_img_url: 'large' }}{% else %}{{ 'no-img-logo.jpg' | asset_url }}{% endif %}" alt="{{ product.featured_image.alt | escape }}">
        </a>
        {% if product.images[1].size > 1 %}
        	<a href="{{ product.url | within: collection }}"><img class="flip-img"  src="{% if product.featured_image.size > 0 %}{{ product.images[1] | product_img_url: 'large' }}{% else %}{{ 'no-img-logo.jpg' | asset_url }}{% endif %}" alt="img13"/></a>
        {% else %}
        	<a href="{{ product.url | within: collection }}">
                <img class="flip-img" src="{% if product.featured_image.size > 0 %}{{ product.images[0] | product_img_url: 'large' }}{% else %}{{ 'no-img-logo.jpg' | asset_url }}{% endif %}" alt="{{ product.featured_image.alt | escape }}">
            </a>
        {% endif %}
    </div>    
    <div class="product_info">
        <div class="pd_title">{{ product.title }}</div>
        <div class="price">{{ product.price | money }}</div>                         
    </div>  
    <div class="product-links">
        <a href="{{ product.url | within: collection }}" class="style_btn details">view details</a>
        <form action="/cart/add" method="post" class="variants" id="product-actions-{{ product.id }}" enctype="multipart/form-data">
            <div style="display:none;"> 
                <select id="product-select" name="id">
                    {% for variant in product.variants %}
                    <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
                    {% endfor %}
                </select>
            </div>
          	{% assign variant = product.variants.first %}
            {% if variant.available %}
          		<input class="style_btn add_cart {{ collection.handle }}" type="submit" name="add" id="add-to-cart-list" value="add to cart" />
          		<a style="display:none;" class='inline' id="added-popup" href="#cart_popup">add to cart</a>
            {% else %}
          		<input type="submit" name="add" value="OUT OF STOCK" class="style_btn add_cart outStc" disabled  />
            {% endif %}
            
        </form> 
    </div>
    {% comment %}
    <p>
        <span>
        {% if sold_out %}
        <strong>Sold Out</strong>
        {% endif %}
        
        {% comment %}
        You can show a leading 'from' or 'up to' by checking 'product.price_varies'
        if your variants have different prices.
        {% endcomment %}
        {% if product.price_varies %}From{% endif %}
        
        {{ product.price | money }}
        </span>
        {% if on_sale %}
        <span><strong>On Sale</strong> from {{ product.compare_at_price | money }}</span>
        {% endif %}
    </p>
    {% endcomment %}     			
</div>