{% assign number_of_related_products_to_show = settings.num_of_related_prod %}

{% assign number_of_related_products_to_fetch = number_of_related_products_to_show | plus: 1 %}
  
{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
  {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
  {% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
    

<h2 class="main_title">{{ 'products.general.related_products' | t }}</h2>
<div class="product_list">
{% assign current_product = product %}
{% assign current_product_found = false %}
{% for product in collection.products limit: number_of_related_products_to_fetch %}
  {% if product.handle == current_product.handle %}
    {% assign current_product_found = true %}
  {% else %}
    {% unless current_product_found == false and forloop.last %}
      
      {% assign on_sale = false %}
      {% if product.compare_at_price > product.price %}
        {% assign on_sale = true %}
      {% endif %}

      
      {% assign sold_out = true %}
      {% if product.available  %}
        {% assign sold_out = false %}
      {% endif %}

      <div class="product_item {% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
          <div class="img-overlay">
              <a href="{{ product.url | within: collection }}">
                  <img src="{% if product.featured_image.size > 0 %}{{ product.images[0] | product_img_url: 'large' }}{% else %}{{ 'no-img-logo.jpg' | asset_url }}{% endif %}" alt="{{ product.featured_image.alt | escape }}">
              </a>
              {% if product.images[1].size > 1 %}
                  <a href="{{ product.url | within: collection }}"><img class="flip-img"  src="{% if product.featured_image.size > 0 %}{{ product.images[1] | product_img_url: 'large' }}{% else %}{{ 'no-img-logo.jpg' | asset_url }}{% endif %}" alt="img13"/></a>
              {% else %}
                  <a href="{{ product.url | within: collection }}">
                      <img class="flip-img" src="{% if product.featured_image.size > 0 %}{{ product.images[0] | product_img_url: 'large' }}{% else %}{{ 'no-img-logo.jpg' | asset_url }}{% endif %}" alt="{{ product.featured_image.alt | escape }}">
                  </a>
              {% endif %}
          </div>    
          <div class="product_info">
              	<div class="pd_title title_pd">{{ product.title }}{% if sold_out %} - Sold Out{% endif %}</div>
            	<div class="pd_descri"><span id="rel-prod-subline">{{ product.description }}</span></div>                      
          </div>  
          <div class="product-links">
              <a href="{{ product.url | within: collection }}" class="style_btn details">view details</a>
              <form action="/cart/add" method="post" class="variants" id="product-actions" enctype="multipart/form-data">
                  <div style="display:none;"> 
                      <select id="product-select" name="id">
                          {% for variant in product.variants %}
                          <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <input class="style_btn add_cart" type="submit" name="add" id="add-to-cart" value="add to cart" />
              </form> 
          </div>          
      </div>
    {% endunless %}
  {% endif %}
{% endfor %}
</div>


{% endif %}

<script type="text/javascript">
$('#might_like .product_list .product_item .pd_descri').each(function(index, element) {
    var get_rel_sublin = $(this).find('#rel-prod-subline .prod-subline-h').text();
	$(this).html('<p>'+get_rel_sublin+'</p>');
});
</script>