{% comment %}
  List out your main-menu linklist (default)

  More info on linklists:
    - http://docs.shopify.com/themes/liquid-variables/linklists
{% endcomment %}
<ul class="site-nav" id="accessibleNav">
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
        <a href="{{ link.url }}">{{ link.title }}</a>
        <ul class="site-nav--dropdown" aria-hidden="true">
          {% for childlink in linklists[child_list_handle].links %}
            
            {% assign child_child_list_handle = childlink.title | handleize %}
            {% if linklists[child_child_list_handle].links != blank %}
              <li class="site-nav--has-dropdown{% if childlink.active %} site-nav--active{% endif %}" aria-haspopup="true">
                <a href="{{ childlink.url }}" class="sub">{{ childlink.title }}</a>
                <ul class="site-nav--dropdown" aria-hidden="true">
                  {% for childchildlink in linklists[child_child_list_handle].links %}
                    <li {% if childchildlink.active %}class="site-nav--active"{% endif %}><a href="{{ childchildlink.url }}">{{ childchildlink.title | escape }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                <a href="{{ childlink.url }}">{{ childlink.title }}</a>
              </li>
            {% endif %}            
            
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li {% if link.active %}class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
  <li><a href="/cart" class="cart">Cart <span class="item_count">{{ cart.item_count }}</span></a></li>
</ul>

