<div class="hero-slider">
	<ul class="bxslider">
        {% for i in (1..9) %} 
            {% assign use_slide = 'slide_' | append: i | append: '_active'  %}
            {% assign home_slide_img = 'home_slide_' | append: i | append: '_img' | append: '.jpg'  %}
            
            {% if settings[use_slide] %}
            	<li class="hero-banner" style="background-image:url({{ 'home_slide_' | append: i | append: '_img' | append: '.jpg' | asset_url }});"> </li>
            {% endif %}
        {% endfor %} 
                <li class="hero-banner gif-hero"> <img src="" alt=""></li> 
    </ul>
</div>

<div class="hero-slider-mob">
	<ul class="bxslider_home_mob">
        {% for i in (1..5) %}
            {% assign use_slide = 'slide_' | append: i | append: '_active'  %}
            {% assign home_slide_img = 'home_slide_' | append: i | append: '_img' | append: '.jpg'  %}
            
            {% if settings[use_slide] %}
            	<li class="hero-banner">
					<img src="{{ home_slide_img | asset_url }}" />
      			</li>
            {% endif %}
        {% endfor %}
    </ul>
</div> 


<script>
    
var speed = {{ settings.speed-home-slider }} ;

//========================== hero slider 

if (jQuery(window).width() > 1024 ) {
  $('.bxslider').bxSlider({
    mode: 'horizontal',
    captions: true,
    pager: false,
    controls:false,
    auto:true,
    pause: speed,
    speed: 800,
    onSlideAfter: function (currentSlideNumber, totalSlideQty, currentSlideHtmlObject) {
    console.log(currentSlideHtmlObject);
    $('.active-slide').removeClass('active-slide');
    $('.bxslider>li').eq(currentSlideHtmlObject + 1).addClass('active-slide')
    
    
    if ($('.gif-hero').hasClass('active-slide')) {
        $(".active-slide img").attr('src', '//cdn.shopify.com/s/files/1/0909/2088/t/11/assets/home-slider.gif?10419011825800945787' );
    } else {
       $(".gif-hero img").attr('src', '' );  
    }
    
    },
    onSliderLoad: function () {
        $('.bxslider>li').eq(1).addClass('active-slide');

    }, 
      
  });
}    
    

</script>