

<div id="content" class="inner-wrap">
  	<div class="container">
      	<div class="inner-content"> 
        	<h1 class="main_title">My Account <a class="return" href="/account">Return to Account Details</a></h1>
            {% comment %}
              Add address form, hidden by default
            {% endcomment %}
            <div id="add_address" style="display: none;">
              {% form 'customer_address', customer.new_address %}
        
                <h2>Add a new address</h2>
        
                <div class="grid">        
                  <div class="one-by-two">
                    <label for="address_first_name_new">First Name</label>
                    <input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
                    
                    <label for="address_last_name_new">Last Name</label>
                    <input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
                    
                    <label for="address_company_new">Company</label>
                	<input type="text" id="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" autocapitalize="words">
                    
                    <label for="address_address1_new">Address 1</label>
                	<input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
                    
                    <label for="address_address2_new">Address 2</label>
                	<input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
                  </div>        
                  <div class="one-by-two">
                    <label for="address_city_new">City</label>
                    <input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" autocapitalize="words">
                    
                    <label for="address_country_new">Country</label>
                    <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                    
                    <label for="address_province_new">Province</label>
                    <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
                    
                    <label for="address_zip_new">Postal/Zip Code</label>
                    <input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
                    
                    <label for="address_phone_new">Phone</label>
                    <input type="tel" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" placeholder="555-555-1234">
                  </div>
                  <div class="clear"></div>
                </div>
        
                <p>
                  {{ form.set_as_default_checkbox }}
                  <label for="address_default_address_new">Set as Default Address?</label>
                </p>
        
                <input type="submit" class="btn" value="Add Address">
                <span class="form-spacer">or</span>
                <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Cancel</a>
        
                <hr>
              {% endform %}
            </div>
        
        	<div class="custo-info">
            <h2>Customer Address Book</h2>
        
            {% comment %}
              List all customer addresses with a unique edit form.
              Also add pagination in case they have a large number of address (unlikely)
            {% endcomment %}
            {% paginate customer.addresses by 5 %}
              {% for address in customer.addresses %}
        
                
        		
                <div class="filled-cust-dtl">
                	<h5>
                      {{ address.first_name | capitalize }} {{address.last_name | capitalize }}
                      {% if address == customer.default_address %}<em>(default)</em>{% endif %}
                    </h5>
                    <p><span>Company: </span>{{ address.company }}</p>
                    <p><span>Street: </span>{{ address.street }}</p>
                    <p><span>City: </span>{{ address.city | capitalize }}</p>
                    <p><span>Provinance Code: </span>{% if address.province_code %}
                    {{ address.province_code | upcase }}
                    {% endif %}</p>
                    <p><span>Zip Code: </span>{{ address.zip | upcase }}</p>
                    <p><span>Country: </span>{{ address.country }}</p>
                    <p><span>Phone: </span>{{ address.phone }}</p>
                    <div class="edit-delet">
                      {{ "Edit" | edit_customer_address_link: address.id }} |
                      {{ "Delete" | delete_customer_address_link: address.id }}
                    </div>
                </div>
                
        
                <div id="edit_address_{{address.id}}" class="edit-cust-info" style="display:none;">
                  {% form 'customer_address', address %}
        
                    <h4>Edit address</h4>
        
                    <div class="grid">        
                      <div class="grid-item one-by-two small--one-whole">
                        <label for="address_first_name_{{form.id}}">First Name</label>
                        <input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
                      </div>        
                      <div class="grid-item one-by-two small--one-whole">
                        <label for="address_last_name_{{form.id}}">Last Name</label>
                        <input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
                      </div>
                      <div class="clear"></div>   
                    </div>
        
                    <label for="address_company_{{form.id}}">Company</label>
                    <input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" autocapitalize="words">
        			
                    <div class="grid">        
                      <div class="grid-item one-by-two small--one-whole">
                        <label for="address_address1_{{form.id}}">Address 1</label>
                    	<input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
                      </div>        
                      <div class="grid-item one-by-two small--one-whole">
                        <label for="address_address2_{{form.id}}">Address 2</label>
                    	<input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
                      </div>  
                      <div class="clear"></div>         
                    </div>                    
                    
        			<div class="grid">        
                      <div class="grid-item one-by-third small--one-whole">
                        <label for="address_city_{{form.id}}">City</label>
                    	<input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" autocapitalize="words">
                      </div>        
                      <div class="grid-item one-by-third small--one-whole">
                        <label for="address_country_{{form.id}}">Country</label>
                    	<select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                      </div>  
                      <div class="grid-item one-by-third small--one-whole">
                        <label for="address_province_{{form.id}}">Province</label>
                      <select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
                      </div> 
                      <div class="clear"></div>         
                    </div>
                    
                    <div class="grid">
                      <div class="grid-item one-by-two small--one-whole">
                        <label for="address_zip_{{form.id}}">Postal/Zip Code</label>
                        <input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
                      </div>        
                      <div class="grid-item one-by-two small--one-whole">
                        <label for="address_phone_{{form.id}}">Phone</label>
                        <input type="tel" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" placeholder="555-555-1234">
                      </div>
                      <div class="clear"></div>   
                    </div>
        
                    <p>
                      {{ form.set_as_default_checkbox }}
                      <label for="address_default_address_new">Set as Default Address?</label>
                    </p>
        
                    <input type="submit" class="btn" value="Update Address">
                    or <a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">Cancel</a>
        
                    <hr>
                  {% endform %}
                </div>
               	
                <div class="clear"></div>
        
              {% endfor %}
        
              {% if paginate.pages > 1 %}
              <div class="text-center">
                {% include 'pagination-custom' %}
              </div>
              {% endif %}
        
            {% endpaginate %}
  			</div>
            
            <div class="clear"></div>
            <div class="addAdd-btn">
            	<a href="#" class="style_btn2" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Add New Address</a>
            </div>
            <div class="clear"></div>
  		</div><!-- END inner-content -->
	</div><!-- END container -->
</div><!-- END content -->

<script>
  // Initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {
    hideElement: 'address_province_container_new'
  });

  // Setup province selector on each customer address
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {
      hideElement: 'address_province_container_{{address.id}}'}
    );
  {% endfor %}

  // Contents of customer_area.js (global asset)
  Shopify.CustomerAddress = {
    toggleForm: function(id) {
      var editEl = document.getElementById('edit_address_'+id);
      var viewEl = document.getElementById('view_address_'+id);
      editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
      viewEl.style.display = viewEl.style.display == 'none' ? '' : 'none';
      return false;
    },

    toggleNewForm: function() {
      var el = document.getElementById('add_address');
      el.style.display = el.style.display == 'none' ? '' : 'none';
      return false;
    },

    destroy: function(id, confirm_msg) {
      if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
        Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
      }
    }
  }
</script>