<div id="content" class="inner-wrap">
  <div class="container">

{% comment %}
  We're going to reference the number of comments below, so let's hold it in a variable.
{% endcomment %}
{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}


<div class="blog-post-dtl">

  <div class="blog-posts">

    <h1 class="main_title">{{ article.title }}</h1>
        <p class="post-dtl">
       
      	Posted by <span class="post-author">{{ article.author }}</span> at
        <span class="post-date"><time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time></span> - tags: 
{% if article.tags.size > 0 %}

  
    {% for tag in article.tags %}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}

{% endif %}
 

    </p>

    <div class="post-cntnt">
      <img src="{{ article.image.src | img_url: '800x800' }}" alt="{{ article.image.alt }}" />
      {{ article.content }}
    </div>

    {% comment %}
      Show off meta information like comments and tags.
    {% endcomment %}
    <ul>

      {% comment %}
        Don't be fooled, the ? in comments_enabled? is part of the liquid tag.
        This and moderated? are the only instances of punctuation in liquid tags.
      {% endcomment %}
      {% if blog.comments_enabled? %}
      <li>
        <a href="#comments">
          {{ number_of_comments }} {{ number_of_comments | pluralize: 'comment', 'comments' }}
        </a>
      </li>
      {% endif %}

      {% include 'tags-article' %}

    </ul>

    {% comment %}
      Create links to the next and previous articles, if available.
    {% endcomment %}

    {% if blog.next_article or blog.previous_article %}
    <hr>

    {% comment %}
      If you only have elements floated in a container, you can use the
      .clearfix class to force the parent to maintain its structure.
    {% endcomment %}
    <p class="clearfix">
      {% if blog.previous_article %}
        <span class="left">
          {{ '&larr; Older Post' | link_to: blog.previous_article }}
        </span>
      {% endif %}
      {% if blog.next_article %}
        <span class="right">
          {{ 'Newer Post &rarr;' | link_to: blog.next_article }}
        </span>
      {% endif %}
    </p>
    {% endif %}

    {% if blog.comments_enabled? %}

    <hr>

    {% comment %}
      Just like our blog.liquid page, define how many comments should be on each page.
    {% endcomment %}

      {% paginate article.comments by 5 %}

      {% comment %}
        #comments is required, it is used as an anchor link by Shopify.
      {% endcomment %}
      <div id="comments">

        {% if comment and comment.created_at %}
        <p class="note form-success">
          {% if blog.moderated? %}
            Your comment was posted successfully. We will publish it in a little while, as our blog is moderated.
          {% else %}
            Your comment was posted successfully! Thank you!
          {% endif %}
        </p>
        {% endif %}

        {% if number_of_comments > 0 %}
          <ul>
            {% comment %}
              If a comment was just submitted with no blank field, show it.
            {% endcomment %}
            {% if comment and comment.created_at %}
            <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">

              {% include 'comment' %}

            </li>
            {% endif %}


            {% comment %}
              Showing the rest of the comments.
            {% endcomment %}
            {% for comment in article.comments %}
            <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">

              {% include 'comment' %}

            </li>
            {% endfor %}

          </ul>

          {% if paginate.pages > 1 %}
          <hr>
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
          {% endif %}

          <hr>

        {% endif %}

        {% comment %}
          Comment submission form
        {% endcomment %}
        {% form 'new_comment', article %}

          {% comment %}
            #add-comment-title is used simply as an anchor link
          {% endcomment %}
          <h3 id="add-comment-title">Leave a comment</h3>

          {% include 'form-errors-custom' %}

          <div class="grid">

            <div class="grid-item large--one-half">
              <label for="comment-author" class="hidden-label">Name</label>
              <input {% if form.errors contains "author" %} class="error"{% endif %} type="text" name="comment[author]" placeholder="Name" id="comment-author" value="{{ form.author }}" autocapitalize="words">

              <label for="comment-email" class="hidden-label">Email</label>
              <input {% if form.errors contains "email" %} class="error"{% endif %} type="email" name="comment[email]" placeholder="Email" id="comment-email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
            </div>

            <div class="grid-item">
              <label for="comment-body" class="hidden-label">Message</label>
              <textarea {% if form.errors contains "body" %} class="error"{% endif %} name="comment[body]" id="comment-body" placeholder="Message">{{ form.body }}</textarea>
            </div>

          </div>

          {% if blog.moderated? %}
            <p><em><strong>Please note:</strong> comments must be approved before they are published</em></p>
          {% endif %}

          <input type="submit" class="btn" value="Post Comment">

          {% if form.errors %}
            <script>
              window.location.hash = '#add-comment-title';
            </script>
          {% endif %}

          {% if form.posted_successfully? %}
            <script>
              window.location.hash = '#comments';
            </script>
          {% endif %}

        {% endform %}

      </div>

      {% endpaginate %}

    {% endif %}

  </div>

<div class="blog-sidebar">
    {% include 'blog-sidebar' %}
</div>
<div class="clear"></div>
</div>

</div>
</div>