<div id="content" class="inner-wrap">
  <div class="container">
{% comment %}

  Loop through a defined number of articles with the 'paginate' tag.
  Don't forget to close the tag after your loop.

{% endcomment %}
{% if current_tags %}
  <h1 class="main_title">{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
{% else %}
  <h1 class="main_title">{{ blog.title }}</h1>
{% endif %}
{% paginate blog.articles by 5 %}

    <div class="blog-posts">
    

   

    {% for article in blog.articles %}
	<div class="blog-post">
      <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
      <p class="post-dtl">
      	Posted by <span class="post-author">{{ article.author }}</span> at
        <span class="post-date"><time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time>
          </span>
      </p>

      
      <div class="post-cntnt">
              <img src="{{ article.image.src | img_url: '600x600' }}" alt="{{ article.image.alt }}" />
        <br />
        
        {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
        {% else %}
          <p>{{ article.content | strip_html | truncatewords: 60 }}</p>
        {% endif %}
      </div>

      {% comment %}
        Show off meta information like number of comments and tags.
      {% endcomment %}
      <ul>

        {% comment %}
          Don't be fooled, the ? in comments_enabled? is part of the liquid tag.
        {% endcomment %}
        {% if blog.comments_enabled? %}
        <li>
          <a href="{{ article.url }}#comments">
            {{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}
          </a>
        </li>
        {% endif %}

        {% include 'tags-article' %}

      </ul>

      <a href="{{ article.url }}" class="btn">Read more</a>
      </div>
    {% endfor %}

    {% if paginate.pages > 1 %}
    <div class="text-center">
      {% include 'pagination-custom' %}
    </div>
    {% endif %}
	</div>

	<div class="blog-sidebar">
        {% include 'blog-sidebar' %}
      </div>
      
    <div class="clear"></div>
{% endpaginate %}
  </div>
</div>


