<div id="content" class="inner-wrap">

	<div id="cart_page">
    
        <div class="container"> 
              <div class="page-title">
                <h2>Your shopping cart</h2><br/><h4>Most orders will be processed and shipped in 5-7 business days</h4>
              {% if cart.item_count > 0 %}           
              <form action="/cart" method="post" novalidate>
                  <div class="cart-layout" data-id="{{ item.id }}">
                    <!-- Cart Header --->
                    <div class="cart-header">
                        <div class="th cart-item-name"><h3>Product</h3></div>
                        <div class="th cart-des"><h3>Description</h3></div>
                        <div class="th cart-price"><h3>Price</h3></div>
                        <div class="th cart-qty"><h3>Quantity</h3></div>
                        <div class="th cart-total"><h3>Total</h3></div>
                        <div class="clear"></div>
                    </div>
                    <!-- Cart Item loop --->
                    <div class="cart-items"> 
                    	{% for item in cart.items %}  
                        <div class="cart-item">
                            <div class="tr cart-item-name">
                                <a href="{{ item.product.url | within: collections.all }}">
                                    <img src="{{ item.product.featured_image.src | product_img_url: 'medium' }}" alt="{{ item.title | escape }}">
                                 </a>
                            </div>
                            <div class="tr cart-des">
                                <h4><a href="{{ item.product.url }}">{{ item.product.title }}</a></h4>
                              	<div id="cart-desc-hide"><span>{{ item.product.description }}</span></div>
                            </div>
                            <div class="tr cart-price">
                                <p><span class="money">{{ item.price | money_with_currency }}</span></p>
                            </div>
                            <div class="tr cart-qty">
                                <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
                            </div>
                            <div class="tr cart-total">
                                 <p><span class="money">{{ item.line_price | money_with_currency }}</span></p>
                            </div>
                            <div class="clear"></div>
                        </div>  
                        {% endfor %}                      
                    </div>      
                    
                    <!-- Cart Attribute -->
                    <div class="cart-attr-hide">                	
                        <div class="cart-attribute__field">
                            <label>Is this gift:</label><br>
                          <input type="radio" id="gift-yes" name="attributes[Is this a Gift?]" value="yes"{% if cart.attributes["Is this a Gift?"] == "yes" %} checked{% endif %}> <span>yes</span>
                          <input type="radio" id="gift-no" name="attributes[Is this a Gift?]" value="no"{% if cart.attributes["Is this a Gift?"] == "no" %} checked{% endif %}> <span>no</span>
                        </div>
                        <div class="hide-attr-gift-rcpt">
                            <label>Gift Receipt</label>
                            <input type="text" id="c-gift-rcpt-attr" name="attributes[Gift Receipt]" value="No">                      
                        </div>
                        <div class="hide-attr-gift-msg">
                            <label>Gift Message</label>
                            <textarea id="giftMessage" name="attributes[Gift Message]"></textarea>
                        </div>
                    </div>
                                  
                    <!-- Checkout section --->
                    <div class="checkout-section">
                        <p>subTOTAL:<span class="money">{{ cart.total_price | money_with_currency  }}</span></p>
                        <div class="chkot-updt">
                            <input type="submit" name="update" class="btn" value="Update cart">
                            <input type="submit" id="checkout" name="checkout" class="btn" value="Check out">
                            <a class="colorboxCartCheckout style_btn2" id="checkout-popup" href="#gift_popup">Check out</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                
                
                
              </form>
              
              <div style="display:none;">
              <div id="gift_popup">
                    <h1>Is this a gift?<div class="gift-y-n"><span id="gift-yes">yes</span><span id="gift-no">no</span></div></h1>
                    
                    <div class="gift-cb-opt">
                    	<div class="gift-opt-bx">
                        	<div class="gift-img">
                            	<img src="{{ 'gift-receipt.jpg' | asset_url }}" />
                                <p>Free</p>
                                <div class="clear"></div>
                            </div>
                            <div class="gift-cb">
                            	<input id="gift-receipt" type="checkbox">gift receipt
                            </div>
                        </div>
                        
                        {% for product in collections.gift-card.products %}
                        <div class="gift-opt-bx">
                        	<div class="gift-img">
                            	{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                    			<img src="{{ featured_image | img_url: 'original' }}" alt="{{ featured_image.alt | escape }}" />
                                <p>{{ product.price | money | remove: '.00' }}</p>
                                <div class="clear"></div>
                            </div>
                            <div class="gift-cb">
                            	<input id="gift-wrap-card" type="checkbox">{{ product.title }}
                            </div>
                            <div class="c-g-prod" style="display:none;">
                            	<form action="/cart/add" method="post" class="variants" id="giftOpt-{{ product.id }}" enctype="multipart/form-data">
                                    <select id="product-select" name="id">
                                      {% for variant in product.variants %}
                                      <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                      {% endfor %}
                                    </select>
                                    <input class="add" type="submit" name="add" id="add-gift-cart-{% if forloop.index == 1 %}1{% else %}2{% endif %}" value="add" />  
                        		</form>
                            </div>
                        </div>                        
                    	{% endfor %}                       
                        
                        <div class="clear"></div>
                    </div>    
                    
                    <div class="gift-msg">
                    	<label>type your message</label>
                    	<textarea id="popup-gift-msg"></textarea>
                    </div> 
                    
                    <div id="c-g-chckout" class="style_btn2">proceed to checkout</div>                      
                    <div class="clear"></div>
                </div>
                </div>
              {% else %}

              {% comment %}
                It's likely people won't have items in the cart sometimes.
                Do something fun here, it's a great chance to show your company's human side.
              {% endcomment %}
            
              <h2>It appears that your cart is currently empty.</h2>
              <p>Continue browsing <a href="/collections/all">here</a>.</p>
            
            {% endif %}
        </div>
    
    </div>
  
</div>
<script type="text/javascript">
$('.cart-items .cart-item .cart-des #cart-desc-hide').each(function(index, element) {
    var cart_des_prod_subline = $(this).find('span .prod-subline-h').text();
	$(this).html('<p>'+cart_des_prod_subline+'</p>');
});

$('.gift-y-n span').each(function(index, element) {
    $(this).click(function(e) {
		$(this).addClass('g-active');
		$(this).siblings().removeClass('g-active');
        var get_clicked_id = $(this).attr('id');
		$('.cart-attr-hide input[type="radio"]').each(function(index, element) {
            var hidden_cart_attr = $(this).attr('id');
			if(get_clicked_id == hidden_cart_attr){
				$(this).trigger('click');
			}
        });
    });
});

$('#gift-receipt').click(function(e) {
    if($(this).prop('checked') == true){
		$('#c-gift-rcpt-attr').val('Yes');
	}
	else{
		$('#c-gift-rcpt-attr').val('No');
	}
});



function addGiftItem1(form_id) {
  $.ajax({
	type: 'POST',
	url: '/cart/add.js',
	dataType: 'json',
	data: $('#'+form_id).serialize(),
	success: Shopify.onSuccessGift,
	error: Shopify.onError
  });
}
function addGiftItem2(form_id) {
  $.ajax({
	type: 'POST',
	url: '/cart/add.js',
	dataType: 'json',
	data: $('#'+form_id).serialize(),
	success: Shopify.onSuccessGift,
	error: Shopify.onError
  });
}
   
$('#add-gift-cart-1').click(function(e) {
	e.preventDefault();
	var get_gift_prod_id = $(this).parent().attr('id');
	addGiftItem1(get_gift_prod_id);
}); 

$('#add-gift-cart-2').click(function(e) {
	e.preventDefault();
	var get_gift_prod_id = $(this).parent().attr('id');
	addGiftItem2(get_gift_prod_id);
}); 

$('#c-g-chckout').click(function(e) {
	var if_checkbox_notchecked = 0;
    $('.gift-cb-opt .gift-opt-bx #gift-wrap-card').each(function(index, element) {
        if($(this).prop("checked") == true){
			$(this).parent().parent().find('.c-g-prod form input[type="submit"]').trigger('click');	
		}
		else{
			if_checkbox_notchecked ++;	
		}
    });
	if(if_checkbox_notchecked > 0){
		$('#checkout').trigger('click');	
	}
});

Shopify.onSuccessGift = function() {
	
	document.cookie="successGiftProd=added";
	document.cookie="gift="+$('.gift-y-n span.g-active').text(); 
	
	if($('#gift-receipt').prop('checked') == true){
		document.cookie="giftReceipt=yes";
	}
	else{
		document.cookie="giftReceipt=no";
	}
	
	document.cookie="giftMessage="+$('#popup-gift-msg').val();
	location.reload();
	//$('#checkout').trigger('click');
};

function getCookie(cname) {
 var name = cname + "=";
 var ca = document.cookie.split(';');
 for(var i=0; i<ca.length; i++) {
  var c = ca[i];
  while (c.charAt(0)==' ') c = c.substring(1);
  if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
 }
 return "";
}

var check_cookie_gift_prod = getCookie("successGiftProd");
var check_cookie_if_gift = getCookie("gift");
var check_cookie_if_giftReceipt = getCookie("giftReceipt");
var check_cookie_giftMessage = getCookie("giftMessage");
if(check_cookie_gift_prod || check_cookie_if_gift || check_cookie_if_giftReceipt || check_cookie_giftMessage){
	
	if(check_cookie_if_gift == 'yes'){
		$('#gift-yes').trigger('click');
	}
	else{
		$('#gift-no').trigger('click');
	}
	$('#c-gift-rcpt-attr').val(check_cookie_if_giftReceipt);
	$('#giftMessage').val(check_cookie_giftMessage);
	
	document.cookie="successGiftProd=";
	document.cookie="gift="; 
	document.cookie="giftReceipt=";
	document.cookie="giftMessage=";
	$('#checkout').trigger('click');
}


(jQuery);

</script>