<div id="content">

    <div class="banner" style="background:url({% if collection.image %}{{ collection.image | img_url: 'original' }}{% else %}{{ 'banner_img1.jpg' | asset_url }}{% endif %}) 50% 50%; background-size:cover;">		
        <div class="banner_img">
            <div class="container">
              	<div class="bann-caption">
                <div class="banner_content">
                	{{ collection.description }}
                </div>
              </div>
             </div>
        </div>        
    </div>	
        
    <div id="kits" class="full_list {% if collection.handle == 'herb-kits'%}fix-padding{% endif %}"> 
        <div class="container">
            <h1 class="main_title">{{ collection.title }}</h1>
            <div class="product_list">
                {% for product in collection.products %}
                	{% include 'product-grid-item' %}
                {% else %}
                    <div class="grid-item">
                      <p>Sorry, there are no products matching your search.</p>
                    </div>                
                {% endfor %}  
                <div class="clear"></div>                               
            </div>                       
        </div>
    </div>
    
    
    {% assign current_collection = collection.title %}
    <div id="might_like" class="four_grid_slider">
        <div class="container">
            <h2 class="main_title">other products you might like</h2>
            <div class="product_list">
            	{% for collection in collections %}
                  {% unless collection.handle == current_collection %}  
              		{% unless collection.handle == 'accessories' %}
              		{% unless collection.handle == 'gift-card' %}
                    {% for product in collection.products %}
                        {% include 'product-grid-item' %}
                    {% else %}
                        <p class="no-found">Sorry, there are no products matching your search.</p>
                    {% endfor %} 
              		{% endunless %}
              		{% endunless %}
                  {% endunless %}
                {% endfor %}                   
            </div>  
            <div class="clear"></div>            
        </div>
    </div>
    
    <!-- INSTAGRAM FEED -->
    {% include 'instagram-feed' %}
    <!-- INSTAGRAM FEED END -->

</div>