
<!-- Hero Slider Start -->
{% include 'slider-home' %}
<!-- Hero Slider End -->

<div id="content">

    <div class="container">
    	<div class="made_in">
       	   <br />
        </div>
    </div>

    
    {% include 'collection-listing' %} 
    
    <div id="growing_guide">
    	<div class="container">
        	<div class="growing_list">
            	{% comment %}
                {% for i in (1..5) %}
                	{% assign service_title = 'home_service_title_' | append: i %}
                    {% assign service_link = 'home_service_link_' | append: i %}
                    {% assign service_content = 'home_service_content_' | append: i %}                    
                {% endfor %}
                {% endcomment %}
                <div class="growing_clm">
                    <h4>{{ settings.home_service_title_1 }}</h4>
                    <a href="{{ settings.home_service_link_1 }}" class="hi-icon Growing-images"></a> 
                    <p>{{ settings.home_service_content_1 }}</p>
                    <a href="{{ settings.home_service_link_1 }}" class="style_btn">dig deeper</a>
                </div>
                <div class="growing_clm">
                	<h4>{{ settings.home_service_title_2 }}</h4>
					<a href="{{ settings.home_service_link_2 }}" class="hi-icon setup-images"></a> 
                    <p>{{ settings.home_service_content_2 }}</p>
                    <a href="{{ settings.home_service_link_2 }}" class="style_btn">dig deeper</a>
                </div>
                <div class="growing_clm">
                	<h4>{{ settings.home_service_title_3 }}</h4>
					<a href="{{ settings.home_service_link_3 }}" class="hi-icon drop-images"></a> 
                    <p>{{ settings.home_service_content_3 }}</p>
                    <a href="{{ settings.home_service_link_3 }}" class="style_btn">dig deeper</a>
                </div>
                <div class="growing_clm">
                	<h4>{{ settings.home_service_title_4 }}</h4>
					<a href="{{ settings.home_service_link_4 }}" class="hi-icon faq-images"></a> 
                    <p>{{ settings.home_service_content_4 }}</p>
                    <a href="{{ settings.home_service_link_4 }}" class="style_btn">dig deeper</a>
                </div>
                <div class="growing_clm">
                	<h4>{{ settings.home_service_title_5 }}</h4>
					<a href="{{ settings.home_service_link_5 }}" class="hi-icon about-images"></a> 
                    <p>{{ settings.home_service_content_5 }}</p>
                    <a href="{{ settings.home_service_link_5 }}" class="style_btn">dig deeper</a>
                </div>                
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    <!-- INSTAGRAM FEED -->
    {% include 'instagram-feed' %}
    <!-- INSTAGRAM FEED END -->
    
    <div id="featured">
    	<div class="container">
        	<div class="featu_title">
              <h5>as featured in</h5>
            </div>
        	{% include 'as-featured-in' %}
        </div>
    </div>
    	
</div>