<div id="content">
  
  <div class="banner" style="background:url({{ 'collectionBanner.jpg' | asset_url }}) 50% 50%; background-size:cover;">		
        <div class="banner_img">
            <div class="container">
                <div class="banner_content">
                	{{ collection.description }}
                </div>
             </div>
        </div>        
    </div>	
  
  
    <div class="container">
    {% comment %}

      This page represents the /collections and /products pages.
      It is an optional, but highly recommended, template for your theme.

      More info:
        - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

    {% endcomment %}

    {% include 'breadcrumb' %}

    {% comment %}
      Loop through each collection, except 'frontpage'
    {% endcomment %}

    {% comment %}
    {% for collection in collections %}

      {% unless collection.handle == 'frontpage' or collection.handle == 'gift-card' %}

        {% include 'collection-list-item' %}


      {% endunless %}

    {% endfor %}
    {% endcomment %}
          
    	{% include 'collection-listing' %}
      
    </div>
  
</div>