{% comment %}
<div id="main_video">
  <video id="my_video_1" class="video-js vjs-default-skin" controls preload="none" poster='{{ 'main_video_img.jpg' | asset_url }}' data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
    <source src="images/Modern Sprout's Garden Jar Herb Kit - Setup Video.mp4" type='video/mp4' />
  </video>
</div>  
<!-- Hero Slider End -->

<div id="content">	    
    <div id="setup_video">
    	<div class="container">
        	<h1 class="main_title">{{ page.title }}</h1>   
            <div class="video_list">
            	{% for i in (1..8) %}
                	{% assign use_slide = 'video_slide_active_' | append: i %}
                	{% assign setup_video_src = 'video_src_' | append: i %}
                    {% if settings[use_slide] %}
                    	<div class="video_item">
                            <iframe width="100%" height="180" src="{{ settings[setup_video_src] }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>         
            </div>  
          	
          	<div class="inner-content">
              {{ page.content }}
      		</div>
		</div>
    </div> 
</div>
{% endcomment %}
<div class="video-slide">
    <div class="videoFullSlide">
        <ul class="video-bxslider">
          {% for i in (1..8) %}
            {% assign setup_video_src = 'video_slide_url_' | append: i %}
          	{% assign setup_video_title = 'video_slide_title_' | append: i %}
            {% if settings[setup_video_src] != blank %}
                <li>
                  <iframe src="{{ settings[setup_video_src] }}" frameborder="0" allowfullscreen></iframe>
                  <div id="video_title" style="display:none;">{{ settings[setup_video_title] }}</div>
          		</li>
          		
            {% endif %}
        {% endfor %}
        </ul>
    </div>
	<div id="setup_video">
      <div class="container">
          <h1 class="main_title">{{ page.title }}</h1> 
          <div class="video_list">
              <div id="video-bx-pager">
                
              </div>
              <div class="clear"></div>
          </div>
      </div>
  	</div>
</div>

<iframe id="fullVideo" style="display:none;" width="1280" height="750" src="http://www.youtube.com/" frameborder="0" allowfullscreen></iframe>

