
<div id="content" class="inner-wrap">
  	<div class="container">
      	<h1 class="main_title">{{ page.title }}</h1>
      	<div class="inner-content">
        	{% include 'as-featured-in' %}
          	{{ page.content }}
      	</div>
  	</div>
</div>