<div id="content" class="inner-wrap">
  	<div class="container">
      	<h1 class="main_title">{{ page.title }}</h1>
        <div class="cntct-wrap">
      	<div class="contact-form-wrap">
        {% form 'contact' %}

          {% comment %}
            Successful message
          {% endcomment %}
          <div style='display:none'>
          {% if form.posted_successfully? %}
            <p class="note form-success">
              Thanks for contacting us! We'll get back to you as soon as possible.
            </p>
          {% endif %}

          {% include 'form-errors-custom' %}
          </div>

          <div id="contactFormWrapper">
            <label for="contactFormName" class="hidden-label">Name</label>
            <input type="text" id="contactFormName" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">

            <label for="contactFormEmail" class="hidden-label">Email</label>
            <input type="email" id="contactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
            
            <label for="contactSubject" class="hidden-label">Subject</label>
            <input type="text" id="contactSubject" name="contact[subject]" >

            <label>How can we help?</label>
            <div class="styled-select">
              <select id="contactHelp" name="contact[help]">
                 <option>please select</option>
                 <option>customer service</option>
                 <option>wholesale</option>
                 <option>general</option>
              </select>
            </div>

            <label for="contactFormMessage" class="hidden-label">Message</label>
            <textarea rows="10" id="contactFormMessage" name="contact[body]" placeholder="Message">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input type="submit" class="btn right" value="Send">
          </div>

        {% endform %}
      </div>
      
      	<div class="contact-info">
        	<h5>Contact Info</h5>
            <ul class="contactInfo-ul">
            	<li><i class="fa fa-envelope"></i><a href="mailto:sprout@modsprout.com">sprout@modsprout.com</a></li>
                <li><i class="fa fa-home"></i>Chicago, IL</li>
            </ul>
            
            <ul class="social_icon1">
                {% if settings.social-links-facebook != blank %}<li><a href="{{ settings.social-links-facebook }}" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a><span>like us</span></li>{% endif %}
                {% if settings.social-links-twitter != blank %}<li><a href="{{ settings.social-links-twitter }}" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a><span>tweet us</span></li>{% endif %}
                {% if settings.social-links-instagram != blank %}<li><a href="{{ settings.social-links-instagram }}" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a><span>follow us</span></li>{% endif %}
                {% if settings.social-links-pin != blank %}<li><a href="{{ settings.social-links-pin }}" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a><span>pin us</span></li>{% endif %}
                <div class="clear"></div>
            </ul>
            
            <p>send us your email and we will keep you looped in on our progress, product offerings and more!</p>
        	
        </div>
        <div class="clear"></div>
        </div>
      	<div class="inner-content">
          	{{ page.content }}
      	</div>
  	</div>
</div>
