<div id="content" class="inner-wrap">


<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
  <meta itemprop="name" content="{{ product.title }}">

  <div id="product_detail" class="product_detail">
        <div class="container">
            <div class="product_col">
            	<div class="product_large_slider">
                	<div class="product_main">
                        <!-- Begin featured image -->
                        <div class="image featured">
                            {% if product.images.size > 0 %}
                                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                                {% if settings.enable_product_image_zoom %}
                                	<img class="imgZoom" src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
                                {% else %}
                                  <a href="{{ featured_image | img_url: 'original' }}" class="zoom" id="placeholder">
                                    <img src="{{ featured_image | img_url: 'original' }}" alt="{{ featured_image.alt | escape }}" />
                                  </a>
                                {% endif %}                                
                            {% else %}
                                <img src="{{ 'no-img-logo.jpg' | asset_url }}" />
                            {% endif %}
                            <div id="yt-prod-video" style="display:none;"></div>
                        </div>
                        <!-- End product image -->
					</div>
                    {% if product.images.size > 1%}
                        <div class="small_slide">
                        <!-- Begin thumbnails -->
                        <div class="thumbs clearfix">
                            <ul id="thumbs">
                                {% for image in product.images %}
                                    {% if settings.enable_product_image_zoom %}
                                        <li class="image span2{% cycle 'last-in-row': '', '', ' last-in-row' %}">
                                          <a href="{{ image | product_img_url: '1024x1024' }}" class="cloud-zoom-gallery">
                                            <img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" />
                                          </a>
                                        </li>
                                    {% else %}
                                        <li class="image span2{% cycle 'last-in-row': '', '', ' last-in-row' %}">
                                          <a href="{{ image | product_img_url: '1024x1024' }}" data-original-image="{{ image | product_img_url: '1024x1024' }}">
                                            <img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" />
                                          </a>
                                        </li>
                                    {% endif %}                                    
                                {% endfor %}
                                <li id="prod-caro-video" class="image span2"></li>
                            </ul>
                        </div>
                        <!-- End thumbnails -->  
                        </div>                              
                    {% endif %}                      
                      <div class="clear"></div>
                      <div class="social_proof">
                      	<h3>$5 Shipping</h3>
                        <p>Applies to domestic ordes (excluding Alaska and Hawaii)</p>
                        <div class="clear"></div>
                      </div>
                </div>
                <div class="product_right_info">
                    <h3 class="product_title">{{ product.title }}</h3>
                    <h5 class="sub_title"></h5>         
                    <div class="product_rating">
                        <h3 class="prod_price">{{ product.price | money }}</h3>
                        <div class="stars">
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> 
                        </div> 
                        <div class="clear"></div>                                    
                    </div>                  
                    <div class="shopping_bag">                            
                        <form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">          
                            <select name="id" id="productSelect" class="product-variants">
                            {% for variant in product.variants %}
                              {% if variant.available %}
                            
                                <option value="{{variant.id}}">
                                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                                </option>
                            
                              {% else %}
                                <option disabled="disabled">
                                  {{ variant.title }} - Sold out
                                </option>
                              {% endif %}
                            {% endfor %}
                            </select>
                            
                           
                            <span class="qty">
                                <label for="quantity">Quantity</label>
                                <input type="number" id="quantity" name="quantity" value="1" min="1">                        
                            </span>                
                            <div class="add_cart_btn">
                                {% comment %}<input type="submit" name="add" value="ADD TO CART" class="cart_btn" id="addToCart"  />{% endcomment %}
                              
                              	<input type="submit" name="add" value="ADD TO CART" class="cart_btn" id="addToCart-n"  />
                              	
                                <a style="display:none;" class='inline' id="added-popup" href="#cart_popup">Inline HTML</a>
                            </div>
                            <div class="clear"></div>
                            
                        </form> 
                    </div>
                    <div class="full_details">
                        <div id="tabs">                    
                          <ul>
                            <li><a href="#tabs-1">product</a></li>
                            <li><a href="#tabs-2">includes</a></li>  
                            <li><a href="#tabs-3">notes</a></li> 
                          </ul>
                          <div id="tabs-1"></div>
                          <div id="tabs-2"></div>
                          <div id="tabs-3"></div>
                        </div>
                      	<a href="#more_detail" class="detail_link">Scroll down to dig deeper.</a>
                    </div>               	
                </div>                
                <div class="clear"></div>
            </div> 
            <div id="prod-des-hide" style="display:none;">{{ product.description }}</div>
        </div>
    </div>

</div>




{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>

var selectCallback = function(variant, selector) {

  var addToCart = $('#addToCart-n'),
      productPrice = $('#productPrice'),
      comparePrice = $('#comparePrice');

  if (variant) {
    if (variant.available) {
      // We have a valid product variant, so enable the submit button
      addToCart.removeClass('disabled').prop('disabled', false).val('Add to Cart');

    } else {
      // Variant is sold out, disable the submit button
      addToCart.val('Sold Out').addClass('disabled').prop('disabled', true);



    }

    // Regardless of stock, update the product price
    productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

    // Also update and show the product's compare price if necessary
    if ( variant.compare_at_price > variant.price ) {
      comparePrice
        .html('Compare at: ' + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
        .show();
    } else {
      comparePrice.hide();
    }

  } else {
    // The variant doesn't exist, disable submit button.
    // This may be an error or notice that a specific variant is not available.
    // To only show available variants, implement linked product options:
    //   - http://docs.shopify.com/manual/configuration/store-customization/advanced-navigation/linked-product-options
    addToCart.val('Unavailable').addClass('disabled').prop('disabled', true);
  }
};

jQuery(function($) {

  new Shopify.OptionSelectors('productSelect', {
    product: {{ product | json }},
    onVariantSelected: selectCallback
  });

  // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}

  // Hide selectors if we only have 1 variant and its title contains 'Default'.
  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
  {% endif %}

  // Auto-select first available variant on page load. Otherwise the product looks sold out.
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
      $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
      {% endfor %}
    {% endif %}
  {% endfor %}

});
  
//============================== FOR POPUP, ON SUCCESS PRODUCT ADD

  var prod_qty_add = '';
 function addItem(form_id) {
      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        dataType: 'json',
        data: $('#'+form_id).serialize(),
        success: Shopify.onSuccess(form_id),
        error: Shopify.onError
      });
   }
   
   $('#addToCart-n').click(function(e) {
		e.preventDefault();		
		addItem('addToCartForm');
		
		// ============ accesories products
		/*$('.accessories_list .accessories_item #add-acce-cart').each(function(index, element) {
			$(this).click(function(e) {
				  e.preventDefault(); 
				  var current_prod_form_id = $(this).parent().parent().attr('id');
				  var current_prod_variant = $(this).parent().attr('data-id');
				  $(this).prop('disabled', true);     
				  addItem(current_prod_form_id);
				  				  
				  //https://ecommerce.shopify.com/c/ecommerce-design/t/404-on-cart-update-js-when-i-try-to-remove-a-product-from-cart-via-ajax-295657
				  //if($(this).hasClass('remove')){
//					  //alert('hi');
//					  jQuery.post('/cart/update.js', 'updates['+current_prod_variant+']=0');
//				  }
//				  else{
//					  $(this).prop('disabled', true);     
//					  addItem(current_prod_form_id);
//				  }
			}); 
		});*/
		
		$('#cart_popup .accessories_item span.add').each(function(index, element) {
			$(this).on('click', function() {
				var $this = $(this);
				if ($this.data('open')) {
					$this.text("add");
					$this.parent().parent().removeClass('addedItem');
					$this.data('open', 0);	
				}
				else {
					$this.text("remove");
					$this.parent().parent().addClass('addedItem');
					$this.data('open', 1);
				}
			});
		});
		
		$('.cont_shopping .continue, .cont_shopping .checkout, #cboxClose, #checkout-popup').click(function(e) {
			$('#cart_popup .rec_accessories form.addedItem #add-acce-cart').each(function(index, element) {
				$(this).trigger('click');
			});
		});
		$('.accessories_list .accessories_item #add-acce-cart').click(function(e) {
			  e.preventDefault(); 
			  var current_prod_form_id = $(this).parent().parent().attr('id');
			  var current_prod_variant = $(this).parent().attr('data-id');
			  //$(this).prop('disabled', true);     
			  addItem(current_prod_form_id);				  				  
			  
		});
   }); 
   
	
	
	//$('.accessories_list .accessories_item #add-acce-cart').each(function(index, element) {
		
	//});
	
   Shopify.onSuccess = function(current_acce_prod_form_id) { 
     prod_qty_add = $('#quantity').val();
     $('#cart_popup .cart_title').text(prod_qty_add+' item added to your cart');
	 $('#added-popup').trigger('click');
     {% comment %}
     {% if cart.item_count > 0 %}  
       {% for item in cart.items %}
          {% if item.product.handle == product.handle %}
              {% assign prod_cart_qty = item.quantity %}
          {% endif %}
       {% endfor %}
       var cart_fetch_item = {{prod_cart_qty}};
       {% else %}
       	var cart_fetch_item = 0;
     {% endif %}
	
	cart_fetch_item = parseInt(cart_fetch_item) + parseInt(prod_qty_add);
	 $('.popup_cart_info .p-c-qty span').text(cart_fetch_item);
     {% endcomment %}
     $('.popup_cart_info .p-c-qty span').text(prod_qty_add);
	 
	 //==============accesories products
	 $('.accessories_list #'+ current_acce_prod_form_id + ' input[type="submit"]').val('added');
	 $('.accessories_list #'+ current_acce_prod_form_id + ' input[type="submit"]').removeAttr("disabled");
	 //$('.accessories_list #'+ current_acce_prod_form_id + ' input[type="submit"]').addClass("remove");
   };


(jQuery);

</script>

	{% if settings.enable_related_prod %}
    <div id="might_like" class="four_grid_slider">
        <div class="container">
            {% include 'related-products' %}
            <div class="clear"></div>            
        </div>
    </div>
    {% endif %}
    
    <div id="next_pot">
    	<div class="container">
        	<div class="pot_info">
            	{% comment %}
            	<div class="pot_details">
                	<div class="pot_title">net pot</div>
                    <p>Don’t let its size deceive you, the 3” net pots can support large root structures.</p>
                </div>
            	<div class="pot_img">
                	<img src="{{ 'pot_img.png' | asset_url }}" />
                </div> 
                <div class="clear"></div>
                {% endcomment %}
            </div>
        </div>
    </div>
    
    <div class="more_detail" id="more_detail">
        <div class="container">
        	<div class="product_description">
                <h2>details</h2>
                <div id="accordion">
                   	
                </div>
            </div>
        </div>   
    </div>
    
    {% include 'instagram-feed' %}
    
  
    <div id="reviews_ratings">
        <div class="container">
            <div class="rating_title_box">
                <h2>customer testimonials</h2>
                <div class="reviews_star">
                    <div class="rating allover">
                        <div class="stars">
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                        </div>                        
                    </div>
                    <div class="add_review">
                        <a href="javascript:void(0)" class="style_btn">write a testimonials</a>
                   </div>
                    <div class="clear"></div>
                </div>
            </div>            
            <div class="all_review">
              	<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                <div class="review_posts">
                  
              	</div>
            </div>
         </div>
    </div>
    
    <!-----=============   POPUP  =============-------->
    
    <div style='display:none'>
        <div id='cart_popup'>
        	
            <h1 class="cart_title">1 item added to your cart</h1>
            {% for item in cart.items %}
                {% if item.product.handle == product.handle %}
               		{% assign prod_cart_qty = item.quantity %}
                {% endif %}
            {% endfor %}
            
            <div class="popup_cart_item" data-id="{{ item.id }}">                	
                <div class="popup_cart_list">
                    <div class="popup_cart_img">
                        <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.title | escape }}"></a>
                    </div>
                    <div class="popup_cart_info">
                        <h4>{{ product.title }}</h4>
                        <div class="cart_price">{{ product.price | money_with_currency }}</div>
                       	<p class="p-c-qty">Quantity: <span>{{ prod_cart_qty }}</span></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            {% comment %}
            {% for item in cart.items %}
          	{% if item.product.handle == product.handle %}
            <div class="popup_cart_item" data-id="{{ item.id }}">                	
                <div class="popup_cart_list">
                    <div class="popup_cart_img">
                        <a href="{{ item.product.url | within: collections.all }}"><img src="{{ item.product.featured_image.src | product_img_url: 'medium' }}" alt="{{ item.title | escape }}"></a>
                    </div>
                    <div class="popup_cart_info">
                        <h4>{{ item.product.title }}</h4>
                        <div class="cart_price">{{ item.price | money_with_currency }}</div>
                        	<p class="p-c-qty">Quantity: <span>{{ item.quantity }}</span></p>
                        </div>
                    <div class="clear"></div>
                </div>
            </div>
          	{% endif %}
            {% endfor %}
            {% endcomment %}
            
          
          	{% for collection in product.collections %}
              {% if collection.handle == 'hydro-planters' %}                              			
              	<div class="rec_accessories">
                  <div class="rec_accessories_title">recommended accessories</div>
                  <div class="accessories_list">
                      {% for product in collections.accessories.products %}
                          <div class="accessories_item">
                              <div class="accessories_img">
                                  <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
                              </div>
                              <div class="accessories_info">
                                  <div class="acc_title"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
                                  {% comment %}<p class="snd_title">moss topper to cover the plastic top tray</p>{% endcomment %}
                                  <form action="" method="post" class="variants" id="prodAccesories-{{ product.id }}" enctype="multipart/form-data">
                                  <div class="price_cart" data-id="{{ product.id }}">
                                      <p class="cart_price">{{ product.price | money }}</p>
                                      <div style="display:none;"> 
                                          <select id="product-select" name="id">
                                              {% for variant in product.variants %}
                                              <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                      <span class="add">Add</span>
                                      <input style="display:none;" class="add" type="submit" name="add" id="add-acce-cart" value="add" />                             
                                  </div>
                                  </form>
                              </div>
                          </div>
                      {% else %}    
                          <p>Sorry, there are no products matching your search.</p>
                      {% endfor %} 
                  </div>
                  <div class="clear"></div>
              </div>
              {% else %}
              	
              {% endif %}
            {% endfor %}	
          
            
           	<form action="/cart" method="post" novalidate>
                <div class="cont_shopping">
                    <input type="submit" id="checkout_prod_dtl" name="checkout" class="checkout" value="checkout">
                    <a class="colorboxCartCheckout style_btn2" id="checkout-popup" href="#gift_popup">Check out</a>
                    <a href="" class="continue">continue shopping</a>
                    <div class="clear"></div>
                </div>
                <!-- Cart Attribute -->
                <div class="cart-attr-hide">                	
                    <!--<div class="cart-attribute__field">
                        <label>Is this gift:</label><br>
                      <input type="radio" id="gift-yes" name="attributes[Is this a Gift?]" value="yes"{% if cart.attributes["Is this a Gift?"] == "yes" %} checked{% endif %}> <span>yes</span>
                      <input type="radio" id="gift-no" name="attributes[Is this a Gift?]" value="no"{% if cart.attributes["Is this a Gift?"] == "no" %} checked{% endif %}> <span>no</span>
                    </div>
                    <div class="hide-attr-gift-rcpt">
                        <label>Gift Receipt</label>
                        <input type="text" id="c-gift-rcpt-attr" name="attributes[Gift Receipt]" value="No">                      
                    </div>-->
                    <div class="hide-attr-gift-msg">
                        <label>Gift Message</label>
                        <!--<textarea id="giftMessage_new" name="attributes[Gift Message]"></textarea>-->
                      	<textarea id="product_note" name="note"></textarea>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    
    <!-- ============== GIFT POPUP ======================= -->
    <div style="display:none;">
              <div id="gift_popup">
              		
                    
                    <h1>Is this a gift?<div class="gift-y-n"><span id="gift-yes">Yes</span><span id="gift-no">No</span></div></h1>
                    
                    <div class="gift-cb-opt">
                    	<div class="gift-opt-bx">
                        	<div class="gift-img">
                            	<img src="{{ 'gift-receipt.jpg' | asset_url }}" />
                                <p>Free</p>
                                <div class="clear"></div>
                            </div>
                            <div class="gift-cb">
                            	<input id="gift-receipt" type="checkbox">gift receipt
                            </div>
                        </div>
                        
                        {% for product in collections.gift-card.products %}
                        <div class="gift-opt-bx">
                        	<div class="gift-img">
                            	{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                    			<img src="{{ featured_image | img_url: 'original' }}" alt="{{ featured_image.alt | escape }}" />
                                <p>{{ product.price | money | remove: '.00' }}</p>
                                <div class="clear"></div>
                            </div>
                            <div class="gift-cb">
                            	<input id="gift-wrap-card" type="checkbox">{{ product.title }}
                            </div>
                            <div class="c-g-prod" style="display:none;">
                            	<form action="/cart/add" method="post" class="variants" id="giftOpt-{{ product.id }}" enctype="multipart/form-data">
                                    <select id="product-select" name="id">
                                      {% for variant in product.variants %}
                                      <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                      {% endfor %}
                                    </select>
                                    <input class="add" type="submit" name="add" id="add-gift-cart-{% if forloop.index == 1 %}1{% else %}2{% endif %}" value="add" />                                      
                        		</form>
                            </div>
                        </div>                        
                    	{% endfor %}                       
                        
                        <div class="clear"></div>
                    </div>    
                    
                    <div class="gift-msg">
                    	<label>type your message</label>
                    	<textarea id="popup-gift-msg"></textarea>
                    </div> 
                    
                    <div id="c-g-chckout" class="style_btn2">proceed to checkout</div>                      
                    <div class="clear"></div>
                </div>
                </div>
                
<script type="text/javascript">

// ===== Is this a Gift?
var isThisGift_val = 'No';
$('.gift-y-n span').each(function(index, element) {
    $(this).click(function(e) {
		$(this).addClass('g-active');
		$(this).siblings().removeClass('g-active');
        isThisGift_val = $(this).text();
    });
});


// ===== Gift Receipt
var giftReceipt = 'No';
$('#gift-receipt').click(function(e) {
    if($(this).prop('checked') == true){
		giftReceipt = 'Yes';
	}
	else{
		giftReceipt = 'No';
	}
});





function addGiftItem1(form_id) {
  $.ajax({
	type: 'POST',
	url: '/cart/add.js',
	dataType: 'json',
	data: $('#'+form_id).serialize(),
	success: Shopify.onSuccessGift,
	error: Shopify.onError
  });
}
function addGiftItem2(form_id) {
  $.ajax({
	type: 'POST',
	url: '/cart/add.js',
	dataType: 'json',
	data: $('#'+form_id).serialize(),
	success: Shopify.onSuccessGift,
	error: Shopify.onError
  });
}
   
$('#add-gift-cart-1').click(function(e) {
	e.preventDefault();
	var get_gift_prod_id = $(this).parent().attr('id');
	addGiftItem1(get_gift_prod_id);
}); 

$('#add-gift-cart-2').click(function(e) {
	e.preventDefault();
	var get_gift_prod_id = $(this).parent().attr('id');
	addGiftItem2(get_gift_prod_id);
}); 

$('#c-g-chckout').click(function(e) {
	var gift_msg_prod_dtl = $('#popup-gift-msg').val();
	//$('#giftMessage_new').val(gift_msg_prod_dtl);
	if(gift_msg_prod_dtl){
		var isThisGift_pre = '\n\n------------------------\n\nGift: ' + isThisGift_val;
	}
	else{
		var isThisGift_pre = 'Gift: ' + isThisGift_val;	
	}
	var giftReceipt_pre = '\nGift Receipt: ' + giftReceipt;
    $('#product_note').val(gift_msg_prod_dtl + isThisGift_pre + giftReceipt_pre);
	
	var if_checkbox_notchecked = 0;
    $('.gift-cb-opt .gift-opt-bx #gift-wrap-card').each(function(index, element) {
        if($(this).prop("checked") == true){
			$(this).parent().parent().find('.c-g-prod form input[type="submit"]').trigger('click');	
		}
		else{
			if_checkbox_notchecked ++;	
		}
    });
	if(if_checkbox_notchecked > 0){
		$('#checkout_prod_dtl').trigger('click');	
	}
});

Shopify.onSuccessGift = function() {
	$('#checkout_prod_dtl').trigger('click');
};

(jQuery);

</script>

</div>