<div id="content" class="inner-wrap">


<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">

  <div id="product_detail" class="product_detail">
        <div class="container">
            <div class="product_col">
            	<div class="product_left">
                  	{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                    <img src="{{ featured_image | img_url: 'original' }}" alt="{{ featured_image.alt | escape }}" />
                </div>            	
                <div class="product_right_info">
                    <h3 class="product_title">{{ product.title }}</h3>
                    <h5 class="sub_title"></h5>        
                    <div class="product_rating">
                        <h3 class="prod_price">{{ product.price | money }}</h3>
                        <div class="stars">
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> 
                        </div> 
                        <div class="clear"></div>                                    
                    </div>                  
                    <div class="shopping_bag">                            
                        <form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">          
                            <select name="id" id="productSelect" class="product-variants">
                            {% for variant in product.variants %}
                              {% if variant.available %}
                            
                                <option value="{{variant.id}}">
                                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                                </option>
                            
                              {% else %}
                                <option disabled="disabled">
                                  {{ variant.title }} - Sold out
                                </option>
                              {% endif %}
                            {% endfor %}
                            </select>
                            
                           
                            <span class="qty">
                                <label for="quantity">Quantity</label>
                                <input type="number" id="quantity" name="quantity" value="1" min="1">                        
                            </span>                
                            <div class="add_cart_btn">
                              	{% assign variant = product.variants.first %}
                                {% if variant.inventory_quantity <= 0 and variant.available and variant.inventory_management != '' %}                                	
                              		<input type="submit" name="add" value="ADD TO CART" class="cart_btn" id="addToCart-n"  />
                              	{% else %}
                              		<input type="submit" name="add" value="OUT OF STOCK" class="cart_btn outStc" id="addToCart-n" disabled  />
                                {% endif %}
                                <a style="display:none;" class='inline' id="added-popup" href="#cart_popup">Inline HTML</a>
                            </div>
                            <div class="clear"></div>
                            
                        </form> 
                    </div>
                    <div class="full_details">
                        <div id="tabs">                    
                          <ul>
                            <li><a href="#tabs-1">product</a></li>
                            <li><a href="#tabs-2">includes</a></li>  
                            <li><a href="#tabs-3">notes</a></li> 
                          </ul>
                          <div id="tabs-1"></div>
                          <div id="tabs-2"></div>
                          <div id="tabs-3"></div>
                        </div>
                      	<a href="#more_detail" class="detail_link">Scroll down to dig deeper.</a>
                    </div>          	
                </div>                
                <div class="clear"></div>
            </div> 
          	<div id="prod-des-hide" style="display:none;">{{ product.description }}</div>
        </div>
    </div>

</div>




{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>

var selectCallback = function(variant, selector) {

  var addToCart = $('#addToCart'),
      productPrice = $('#productPrice'),
      comparePrice = $('#comparePrice');

  if (variant) {
    if (variant.available) {
      // We have a valid product variant, so enable the submit button
      addToCart.removeClass('disabled').prop('disabled', false).val('Add to Cart');

    } else {
      // Variant is sold out, disable the submit button
      addToCart.val('Sold Out').addClass('disabled').prop('disabled', true);
    }

    // Regardless of stock, update the product price
    productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

    // Also update and show the product's compare price if necessary
    if ( variant.compare_at_price > variant.price ) {
      comparePrice
        .html('Compare at: ' + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
        .show();
    } else {
      comparePrice.hide();
    }

  } else {
    // The variant doesn't exist, disable submit button.
    // This may be an error or notice that a specific variant is not available.
    // To only show available variants, implement linked product options:
    //   - http://docs.shopify.com/manual/configuration/store-customization/advanced-navigation/linked-product-options
    addToCart.val('Unavailable').addClass('disabled').prop('disabled', true);
  }
};

jQuery(function($) {

  new Shopify.OptionSelectors('productSelect', {
    product: {{ product | json }},
    onVariantSelected: selectCallback
  });

  // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}

  // Hide selectors if we only have 1 variant and its title contains 'Default'.
  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
  {% endif %}

  // Auto-select first available variant on page load. Otherwise the product looks sold out.
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
      $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
      {% endfor %}
    {% endif %}
  {% endfor %}

});
  
//============================== FOR POPUP, ON SUCCESS PRODUCT ADD

  var prod_qty_add = '';
 function addItem(form_id) {
      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        dataType: 'json',
        data: $('#'+form_id).serialize(),
        success: Shopify.onSuccess,
        error: Shopify.onError
      });
   }
   
   $('#addToCart-n').click(function(e) {
      e.preventDefault();
      
      addItem('addToCartForm');
   }); 

   Shopify.onSuccess = function() { 
     prod_qty_add = $('#quantity').val();
     $('#cart_popup .cart_title').text(prod_qty_add+' item added to your cart');
	 $('#added-popup').trigger('click');
	 
     
	
	
	 $('.popup_cart_info .p-c-qty span').text(prod_qty_add);
   };


(jQuery);

</script>

    <div class="more_detail" id="more_detail">
        <div class="container">
        	<div class="product_description">
                <h2>details</h2>
                <div id="accordion">
                    
                </div>
            </div>
        </div>   
    </div>
  
    <div id="reviews_ratings">
        <div class="container">
            <div class="rating_title_box">
                <h2>customer testimonials</h2>
                <div class="reviews_star">
                    <div class="rating allover">
                        <div class="stars">
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                        </div>                        
                    </div>
                    <div class="add_review">
                        <a href="javascript:void(0)" class="style_btn">write a testimonials</a>
                   </div>
                    <div class="clear"></div>
                </div>
            </div>            
            <div class="all_review">
              	<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                <div class="review_posts">
                  
              	</div>
            </div>
         </div>
    </div>
    
    {% if settings.enable_related_prod %}
    <div id="might_like" class="four_grid_slider">
        <div class="container">
            {% include 'related-products' %}
            <div class="clear"></div>            
        </div>
    </div>
    {% endif %}
    
    {% include 'instagram-feed' %}
    
    <!-----=============   POPUP  =============-------->
    
    <div style='display:none'>
        <div id='cart_popup'>
        	
            <h1 class="cart_title">1 item added to your cart</h1>
            {% for item in cart.items %}
                {% if item.product.handle == product.handle %}
               		{% assign prod_cart_qty = item.quantity %}
                {% endif %}
            {% endfor %}
            
            <div class="popup_cart_item" data-id="{{ item.id }}">                	
                <div class="popup_cart_list">
                    <div class="popup_cart_img">
                        <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.title | escape }}"></a>
                    </div>
                    <div class="popup_cart_info">
                        <h4>{{ product.title }}</h4>
                        <div class="cart_price">{{ product.price | money_with_currency }}</div>
                       	<p class="p-c-qty">Quantity: <span>{{ prod_cart_qty }}</span></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            {% comment %}
            {% for item in cart.items %}
          	{% if item.product.handle == product.handle %}
            <div class="popup_cart_item" data-id="{{ item.id }}">                	
                <div class="popup_cart_list">
                    <div class="popup_cart_img">
                        <a href="{{ item.product.url | within: collections.all }}"><img src="{{ item.product.featured_image.src | product_img_url: 'medium' }}" alt="{{ item.title | escape }}"></a>
                    </div>
                    <div class="popup_cart_info">
                        <h4>{{ item.product.title }}</h4>
                        <div class="cart_price">{{ item.price | money_with_currency }}</div>
                        	<p class="p-c-qty">Quantity: <span>{{ item.quantity }}</span></p>
                        </div>
                    <div class="clear"></div>
                </div>
            </div>
          	{% endif %}
            {% endfor %}
            {% endcomment %}
            
            <div class="rec_accessories">
                <div class="rec_accessories_title">recommended accessories</div>
                <div class="accessories_list">
                    {% for product in collections.accessories.products %}
                        <div class="accessories_item">
                            <div class="accessories_img">
                                <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
                            </div>
                            <div class="accessories_info">
                                <div class="acc_title"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
                                <p class="snd_title">moss topper to cover the plastic top tray</p>
                                <form action="/cart/add" method="post" class="variants" id="product-actions" enctype="multipart/form-data">
                                <div class="price_cart">
                                    <p class="cart_price">{{ product.price | money }}</p>
                                    <div style="display:none;"> 
                                        <select id="product-select" name="id">
                                            {% for variant in product.variants %}
                                            <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <input class="add" type="submit" name="add" id="add-to-cart" value="add" />                             
                                </div>
                                </form>
                            </div>
                        </div>
                    {% else %}    
                        <p>Sorry, there are no products matching your search.</p>
                    {% endfor %} 
                </div>
                <div class="clear"></div>
            </div>
           	<form action="/cart" method="post" novalidate>
                <div class="cont_shopping">
                    <input type="submit" name="checkout" class="checkout" value="checkout">
                    <a href="" class="continue">continue shopping</a>
                    <div class="clear"></div>
                </div>
            </form>
            
        </div>
    </div>

</div>