/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 479px) {
.container{	
	width:310px;
	padding:0 5px;
}
body{
    -webkit-text-size-adjust: none;
}


h1{
	font-size:30px;
}
h2{
	font-size:28px;
  	line-height: 30px;
}
h3{
	font-size:24px;
}
h4{
	font-size:18px;
}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}
p, a {
    font-size: 14px;
    line-height: 22px;
}

/*===========  header_footer  =============*/

.social_icon {
    display: none;
}
.top_link {
    width: 100%;
    text-align: center;
}
.top_link li {
    float: none;
    margin: 0 15px;
    display: inline-block;
}
.logo {
    display: none;
}
.mean-bar .logo {
    display: block;
    position: relative;
    left: 25px;
    width: 40px;
    margin: 4px 0 0 0;
}

.footer_right, .footer_left {
    width: 100%;
}
.email input[type="email"] {
    width: 198px;
    float: left;
}
.email input[type="submit"] {
    width: 96px;
  	float: left;
}
.col.support {
    margin-right: 0px;
    width: 100%;
}
.col {
    margin-right: 0px;
    width: 100%;
	margin-bottom:25px;
}
.support ul {
     width: auto; 
     display: block; 
}
.support ul:nth-child(3) {
    margin-left: 0;
}
.col.connect {
    width: 100%;
    margin-right:0px;
}
.connect ul:nth-child(3) {
    margin-left: 0px;
}

.col ul li {
    margin-bottom: 2px;
}
.col ul li a {
    font-size: 15px;
    line-height: 24px;
}
ul.social_icon1 li span{
	display:none;
}
.social_icon1 li {
    margin-right: 5px;
}
.social_icon1 {
    margin-top: 10px;
}
.grow_tell {
    margin-bottom: 25px;
}




/*============================= home  =========================*/


.product_list.three_grid .img-overlay, .img-overlay {
    width: 310px;
    height: 230px;
}
.product_list.three_grid .product_item, .product_list .product_item {
    min-height: 100%;
}
.three_grid .details:after, .details:after {
    width: 16px;
    height: 12px;
    margin-left: 4px;
    top: 4px;
}
.three_grid .product-links .style_btn, .product-links .style_btn  {
    width: 49%;
    margin-right: 2%;
    font-size: 12px;
  	    padding: 10px 0 10px;
}
.three_grid .product-links .style_btn:nth-child(2), .product-links .style_btn:nth-child(2) {
    margin-right: 0;
}

.three_grid .add_cart:after, .add_cart:after {
    width: 18px;
    height: 18px;
    margin-left: 6px;
    top: 0px;
}
#planters, #kits, #bulb_kits, #planter_accessories {
    padding-bottom: 40px;
}
.three_grid .pd_title, .pd_title{
    font-size: 22px;
    line-height: 25px;
}
.three_grid_slider .bx-wrapper, .four_grid_slider .bx-wrapper {
    margin-top: 15px;
}
.bx-wrapper .bx-prev {
    right: 25px;
    left: auto;
}
.bx-wrapper .bx-next {
    right: 0px;
}
.bx-wrapper .bx-controls-direction a {
    top: -42px;
}
.insta_title {
    text-align: left;
    font-size: 38px;
    margin-top: 30px;
  	line-height: 40px;
}
.insta_head h4 {
    top: auto;
    position: relative;
    text-align: right;
    margin-top: 0px;
}
.insta_head h4 a {
    font-size: 13px;
}
.more_detail {
    padding: 12px 0 0px;
}

#growing_guide .bx-wrapper .bx-controls-direction a {
    top: 50%;
  	margin-top: -15px;
  	width: 15px;
    background-color: transparent;
}
#growing_guide {
    /*padding:65px 0 32px;*/
}
#growing_guide .bx-wrapper .bx-prev{
    background-position: 0 0;
  	left: 0px;
}
#growing_guide .bx-wrapper .bx-next {
    background-position: -19px 0px;
}
.insta_cont .bx-wrapper .bx-controls-direction a {
    top: 30px;
}
.insta_cont .bx-wrapper .bx-prev {
    left:5px;
    right: auto;
}

.insat_img {
    width: 150px;
    height: 120px;
}
.insat_img .insta_overlay p {
    height: 310px;
    font-size: 16px;
    line-height: 22px;
}
#instagram .bx-wrapper .bx-viewport {
    padding: 30px 0 40px;
  	/*height: auto !important;*/
}
.client_logo {
    height: 40px;
}
.featu_logo {
    width: 96px;
    height: 40px;
    margin-bottom: 15px;
    margin-right: 10px;
}
.featu_logo:nth-child(3n){
	margin-right:0;
}
.featu_list {
    padding: 38px 0px 10px;
}


/*===========  accessories  =============*/

.full_list .product_list .product_item {
    margin-right:0px;
}
.product_list .product_item {
    width:310px;
}
.full_list .product_list .product_item:nth-child(2n) {
    margin-right:0
}
.full_list .product_list .product_item .img-overlay {
    width: 310px;
    height: 230px;
}
.img-overlay img {
    display: block;
     max-height: 100%; 
	 max-width:100%;
    text-align: center;
    margin: auto;
}

.banner_content h2 {
    font-size: 30px;
    /*padding-top: 50px;*/
}

.banner_content p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
}
.banner .banner_img,
.bann-caption{
    height: 350px;
}



/*===========  ms_product  =============*/
.small_slide {
    margin-right: 10px;
    margin-bottom: 47px;
    width: 50px;
}
.product_large_slider, .pot_img {
    width: 100%;
    margin-right: 0;
}
.product_main {
    width: 250px;
}
.social_proof {
    margin: 0;
}
.product_right_info {
    width: 100%;
	margin-top:30px;
}
#thumbs a {
    width: 50px;
    height:50px;
    display: block;
}
.small_slide .bx-wrapper .bx-prev {
    left: 11px;
  	top: -13px;
    /*background: url("{{ 'controls_v.png' | asset_url }}") no-repeat 0 -23px;
    top: 115%;*/
}
.small_slide .bx-wrapper .bx-controls-direction a {
    /*height: 10px;*/
}
.small_slide .bx-wrapper .bx-next {
    right: 12px;
    left: initial;
  	top: 112%;
}

h3.product_title {
    line-height: 26px;
    font-size: 24px;
}
h3.prod_price {
    font-size: 30px;
}
.details1 p {
    font-size: 15px;
    line-height: 20px;
}
.social_proof h3 {
    font-size: 30px;
    margin-right: 0px;
    padding: 4px 15px 10px 0;
    border: none;
    float: none;
}
.cart_btn {
    float: left;
    margin: 20px 0 10px;
}
.social_proof p {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
}
.social_proof {
    margin: 0;
    width: 100%;
	padding: 10px 10px;
  	text-align: center;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.pot_title {
    font-size: 26px;
}
.pot_details {
    margin-bottom: 40px;
    width: 100%;
}
.review_by.box_rev {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
.notes h6 {
    line-height: 24px;
}
.detail_link {
    padding-top: 12px;
}
.qty_list {
    padding-top: 10px;
}
.displaying_review{
	text-align:center;
}
#reviews_ratings {
    padding: 40px 0 20px;
}
#accordion h3 {
    padding: 12px 0px 7px 0px;
}
.all_review .box_rev {
    display: block;
}
.reviews_pagination {
    width: 100%;
}
#reviews_ratings {
    padding:0px 0 20px;
}
.all_review .review_list {
    padding: 20px 0px 10px;
}
.rating.allover .stars {
    margin-bottom: 15px;
}
.add_review {
    margin-top: 12px;
    float: left;
}
.rating.allover p {
    float: none;
}

.all_review .review_list.pagination {
    padding: 14px 0 0;
}
#next_pot {
    margin-bottom: 30px;
  	padding: 0px;
}

.review_next_prv.box_rev {
    margin-top: 10px;
}

/*===========  ms_product  =============*/

.product_col .product_right {
    width: 100%;
    padding:30px 0 0;
}
.product_col .product_left {
    width: 100%;
    height: 250px;
}
.product_col .product_left img{
	max-height:100%;
}
.reviews_pagination {
    width:100%;
}

h3.prod_price {
    font-size: 32px;
}
h5.sub_title {
    width:100%;
    line-height: 22px;
    font-size:16px;
}
.review_by.box_rev {
    width: 160px;
}
#accordion h3 {
    padding: 0px 26px 7px 0px;
	font-size:20px;
}


/*===================  CART =============*/

.cart-item-name {
    width: 100px;
    padding-right: 10px;
}
.cart-des {
    width: 200px;
    padding-right: 0;
}
.tr.cart-des h4 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}
.cart-item .cart-price {
    width: 100px;
    padding-right: 10px;
}
.cart-qty {
    width: 80px;
    padding-right: 0;
}
.cart-header .cart-price, .cart-header .cart-qty{
	display:none;
}
.cart-header .cart-des {
    width: 130px;
}
.cart-header .cart-total {
    width: 70px;
}
.cart-item .cart-item-name {
    padding: 10px 10px 0 0;
}
.cart-item  .cart-des{
	min-height:90px;
}
.cart-items .cart-item {
    padding-bottom: 20px;
}
#cart_page {
    padding: 45px 0 50px;
}
.plus {
    margin-left: 0;
}
.minus {
    margin-right: 0;
}

.page-title {
    padding: 0px 0 25px;
}
.cart-header .th h3 {
    font-size: 16px;
}
.cart-header {
    padding: 10px 0;
}
.checkout-section {
    width: 100%;
}

/*================  video  ====================*/

.video_item {
    width: 100%;
    margin: 0 0 20px 0;
}

/*=======================  POPUP  =====================*/

.rec_accessories{
	display:none;
}
#cart_popup {
    padding: 20px 8%;
    border: 1px solid #8d847b;
}
.popup_cart_list {
    padding: 20px 0;
    width: 100%;
}
.popup_cart_img {
    width: 300px;
    float: none;
    margin: 0 auto 10px;
}
.popup_cart_info {
    width: 100%;
    float: left;
    padding-top: 23px;
}
  #setup-videos .main_header {
    position: initial;
}
.video-slide ul li iframe {
    height: 272px;
}
#store-loc .store-col {
    width: 100%;
    margin-right: 0;
    float: none;
}

.product_list .product_item .product-links{
 	position: relative;
 	
  	
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.product_list .product_item:hover .product_info .pd_title,
.product_list .product_item:hover .product_info .price,
.product_list .product_item:hover .product_info .pd_descri{
 	 opacity: 1;
}
.product_info {
    margin: 12px 0px;
}
#collections .main_title a,
.template-index .main_title a{
 	position: relative; 
  	display: block;
    bottom: -4px;
}
.img-overlay a img{
    position: relative;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}
.img-overlay a:nth-child(2) img{
	display: none;    
}
.product_item:hover .img-overlay a:first-child img {
    display: block\8;
    opacity: 1;
}
.footer_left {
	text-align: center;    
}
.footer_info p {
    font-size: 12px;
}
  .shopping_cart{
    width: 28px; 
  }
  .item_count {
    left: -15px;
  }
  .hero-slider-mob{
    display: block; 
  }
  .hero-slider{
    display: none; 
  }
  .template-product .inner-wrap {
    margin: 57px 0 0 0;
  }
  #prod-caro-video iframe, #yt-prod-video iframe {
    height: 220px;
  }
  .small_slide .bx-wrapper {
    margin-top: 0;
	}
.template-index .bx-wrapper .bx-controls-direction a,
.template-list-collections .bx-wrapper .bx-controls-direction a{
    top: 34%;
}
.template-index .bx-wrapper .bx-prev,
.template-list-collections .bx-wrapper .bx-prev{
    left: 0;
}
.contact-form-wrap, .contact-info {
    width: 100%;
}
.contact-info{
 	margin-top: 30px; 
}
.about-vd iframe{
 	height: 174px; 
}
#might_like .main_title {
    font-size: 21px;
}
#instagram .bx-wrapper .bx-controls-direction a {
    top: 50%;
}
#instagram .bx-wrapper .bx-prev {
    left: -27px;
}
#instagram .bx-wrapper .bx-next {
    right: -27px;
}
.login-left, .register-right{
    width: 100%;
}
.register-right {
    border-left: 0px;
    padding-left: 0;
}
.active-acco {
    width: 100%;
}
.active-acco input[type="submit"] {
    width: 100%;
  	margin-bottom: 10px;
}
.active-acco .dactv-acc-btn{
	margin-top: 10px;
  	margin-bottom: 0px;
}
.subCat-filter{
 	text-align: center; 
}
.subCat-filter ul li{
 	float: none;
  	margin-bottom: 1px;
}
  
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 480px)
and (max-width : 767px) {
.container{
	width:470px;
	padding:0 5px;
}
body{
    -webkit-text-size-adjust: none;
}


h1{
	font-size:38px;
}
h2{
	font-size:34px;
  	line-height: 30px;
}
h3{
	font-size:30px;
}
h4{
	font-size:20px;
}
h5{
	font-size:20px;
}
h6{
	font-size:18px;
}
p {
    font-size: 14px;
    line-height: 22px;
}
  
/*===========  header_footer  =============*/
.logo {
    display: none;
}
.mean-bar .logo {
    display: block;
    position: relative;
    left: 25px;
    width: 40px;
    margin: 4px 0 0 0;
}

.footer_right, .footer_left {
    width: 100%;
}
.email input[type="email"] {
    height: 28px;
    width: 314px;
  	float: left;
}
.email input[type="submit"] {
    line-height: 30px;
    width: 132px;
    height: 40px;
  	float: left;
}
.col.support {
    margin-right: 0px;
	width: 100%;
    margin-top: 20px;
}
.col {
    margin-right: 0px;
    text-align: center;
    width: 110px;
}
.support ul {
     width: auto; 
     display: block; 
}

.col ul li {
    margin-bottom: 2px;
}
.col ul li a {
    font-size: 15px;
    line-height: 24px;
}
.footer_left {
    padding-bottom: 20px;
}



/*============================= home  =========================*/


.product_list.three_grid .img-overlay, .img-overlay {
    width: 230px;
    height: 230px;
}
.product_list.three_grid .product_item, .product_list .product_item {
    min-height: 325px;
}
.three_grid .details:after, .details:after {
    width: 16px;
    height: 12px;
    margin-left: 4px;
    top: 4px;
    right: 44px;
}
.three_grid .product-links .style_btn, .product-links .style_btn {
    font-size: 15px;
    width: 100%;
    padding: 10px 0 10px;
    margin-right: 0;
    margin-bottom: 3px;
}
.three_grid .product-links .style_btn:nth-child(2), .product-links .style_btn:nth-child(2){
	margin-bottom:0;
  
  	/*position: absolute;
    bottom: 0;
    right: 0;*/
}
.three_grid .add_cart:after, .add_cart:after {
    width: 18px;
    height: 18px;
    margin-left: 6px;
    top: 0px;
    right:44px;
}
#planters, #kits, #bulb_kits, #planter_accessories {
    padding-bottom: 40px;
}
.three_grid .pd_title, .pd_title {
    font-size: 22px;
    line-height: 25px;
    margin: 3px 0 6px;
  	height: 50px;
    overflow: hidden;
}

.bx-wrapper .bx-prev {
    right: 25px;
    left: auto;
}
.bx-wrapper .bx-next {
    right: 0px;
}

.insta_title {
    text-align: left;
    font-size: 38px;
    margin-top: 0px;
  	line-height: 37px;
}
.insta_head h4 {
    top: 14px;
}

#growing_guide .bx-wrapper .bx-controls-direction a {
    top:-30px;
  	width: 15px;
    background-color: transparent;
}
#growing_guide {
    padding:65px 0 32px;
}
#growing_guide .bx-wrapper .bx-prev{
    background-position: 0 0;
}
#growing_guide .bx-wrapper .bx-next {
    background-position: -19px 0px;
}
.insta_cont .bx-wrapper .bx-prev {
    left: initial;
    right: 22px;
}

.insat_img {
    width: 200px;
    height: 200px;
}
.insat_img .insta_overlay p {
    height: 228px;
    font-size: 14px;
    font-family: 'source_sans_proregular';
    line-height: 20px;
}
#instagram .bx-wrapper .bx-viewport {
    padding: 30px 0 40px;
}
#instagram .bx-wrapper .bx-controls-direction a {
    top: 50%;
}
#instagram .bx-wrapper .bx-prev {
    left: -27px;
}
#instagram .bx-wrapper .bx-next {
    right: -27px;
}
.client_logo {
    height: 40px;
}
.featu_logo {
    width: 107px;
    height: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.featu_list {
    padding: 38px 0px 10px;
}

/*===========  accessories  =============*/

.full_list .product_list .product_item {
    margin-right:14px;
}
.product_list .product_item {
    width: 228px;
}
.full_list .product_list .product_item:nth-child(2n) {
    margin-right:0
}

.full_list .product_list .product_item .img-overlay {
    width: 228px;
    height: 228px;
}
.banner_content h2 {
    font-size: 30px;
    /*margin-top: 60px;*/
}
.banner_content p {
    font-size: 20px;
    line-height: 24px;
    margin-top: 5px;
}
.banner .banner_img {
    height: 400px;
}


/*===========  ms_product  =============*/
.small_slide {
    margin-right: 10px;
    width: 50px;
}
.product_large_slider, .pot_img {
    width: 470px;
    margin-right: 0;
}
.product_main {
    width: 410px;
}
.social_proof {
    margin: 0;
}
.product_right_info {
    width: 100%;
	margin-top:30px;
}
#thumbs a {
    width:50px;
    height: auto;
}
.small_slide .bx-wrapper .bx-prev {
    left: 11px;
  	top: -13px;
    /*background: url("{{ 'controls_v.png' | asset_url }}") no-repeat 0 -23px;
    top: 115%;*/
}
.small_slide .bx-wrapper .bx-controls-direction a {
    /*height: 10px;*/
}
.small_slide .bx-wrapper .bx-next {
    right: 12px;
    left: initial;
  	top: 113%;
}

h3.product_title {
    line-height: 30px;
    font-size: 26px;
}
.details1 p {
    font-size: 15px;
    line-height: 20px;
}
.social_proof h3 {
    font-size: 20px;
    margin-right: 15px;
    padding: 10px 15px 10px 0;
}

.social_proof p {
	margin-top: 7px;	
}
.social_proof {
    margin: 20px 0 0;
    width: 100%;
    padding: 10px 49px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.pot_title {
    font-size: 30px;
}
.pot_details {
    margin-bottom: 40px;
}
.review_by.box_rev {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
.displaying_review{
	text-align:center;
}
#reviews_ratings {
    padding: 40px 0 20px;
}
.all_review .box_rev {
    display: block;
}
.reviews_pagination {
    width: 100%;
}
#reviews_ratings {
    padding:0px 0 20px;
}
.all_review .review_list {
    padding: 20px 0px 10px;
}
.rating.allover .stars {
    margin-bottom: 15px;
}
.add_review {
    margin-top: 12px;
}
.rating.allover p {
    float: none;
}

/*===========  ms_product  =============*/

.product_col .product_right {
    width: 100%;
    padding:30px 0 0;
}
.product_col .product_left {
    width: 100%;
    height: 300px;
}
.product_col .product_left img{
	max-height:100%;
}
.reviews_pagination {
    width:100%;
}

h3.prod_price {
    font-size: 32px;
}
h5.sub_title {
    width:100%;
    line-height: 22px;
    font-size:16px;
}
.review_by.box_rev {
    width: 160px;
}
#accordion h3 {
    padding: 0px 26px 7px 0px;
	font-size:20px;
}

/*===================  CART =============*/

.cart-item-name {
    width: 140px;
}
.cart-des {
    width: 220px;
}
.tr.cart-des h4 {
    font-size: 18px;
    line-height: 22px;
}
.cart-item .cart-price {
    width: 140px;
}

.cart-qty {
    width: 90px;
}
.cart-header .cart-price, .cart-header .cart-qty{
	display:none;
}
.cart-header .cart-total {
    width: 70px;
}
.cart-item .cart-item-name {
	height:90px;
	padding-bottom:0;
}
.cart-item  .cart-des{
	min-height:90px;
}
.cart-items .cart-item {
    padding-bottom: 20px;
}
#cart_page {
    padding: 45px 0 50px;
}

/*================  video  ====================*/

.video_item {
    width: 210px;
    margin: 0 30px 20px 0;
}
.video_item:nth-child(2n) {
    margin-right: 0px;
}
/*=======================  POPUP  =====================*/

.rec_accessories{
	display:none;
}
#cart_popup {
    padding: 20px 8%;
    border: 1px solid #8d847b;
}
.popup_cart_list {
    padding: 20px 0;
    width: 100%;
}
.popup_cart_img {
    width: 300px;
    float: none;
    margin: 0 auto 10px;
}

.popup_cart_info {
    width: 100%;
}
#setup-videos .main_header {
    position: initial;
}
.video-slide ul li iframe {
    height: 272px;
}
#store-loc .store-col {
    width: 100%;
    margin-right: 0;
    float: none;
}
.product_list .product_item .product-links{
 	position: relative; 	
  	
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.product_list .product_item:hover .product_info .pd_title,
.product_list .product_item:hover .product_info .price,
.product_list .product_item:hover .product_info .pd_descri{
 	 opacity: 1;
}
.product_info {
    margin: 12px 0px;
}
#collections .main_title a,
.template-index .main_title a{
 	position: relative; 
  	display: block;
    bottom: -4px;
}
.img-overlay a img{
    position: relative;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}
.img-overlay a:nth-child(2) img{
	display: none;    
}
.product_item:hover .img-overlay a:first-child img {
    display: block\8;
    opacity: 1;
}
.three_grid_slider .bx-wrapper .bx-controls-direction a,
.four_grid_slider .bx-wrapper .bx-controls-direction a{
    top: -72px;
  	width: 18px;
  	background-color: transparent;
}
.three_grid_slider .bx-wrapper .bx-controls-direction .bx-next,
.four_grid_slider .bx-wrapper .bx-controls-direction .bx-next{
    right: 0px;    
    background-position: -16px -31px;    
}
.three_grid_slider .bx-wrapper .bx-controls-direction .bx-prev,
.four_grid_slider .bx-wrapper .bx-controls-direction .bx-prev{
 	right: 29px;
    left: initial; 
}
.three_grid_slider .bx-wrapper,
.four_grid_slider .bx-wrapper {
    margin-top: 54px;
}
#might_like.four_grid_slider .bx-wrapper .bx-controls-direction a{
 	 top: -81px;
}
.bx-wrapper .product_list .product_item .product_info .pd_title{
 	height: 52px;
  	overflow: hidden;
}
.hero-slider-mob{
  	display: block; 
}
.hero-slider{
    display: none; 
}
 .col{
    width: 100%;
        text-align: left;
	}
  .col h5{
   	text-align: left; 
  }
  .col ul li{
   	display: inline-block; 
  }
  .col ul li a{
    font-size: 14px;
    line-height: 24px;
    border-right: 1px solid #8d847a;
    padding-right: 5px;
	}
  .col ul li:last-child a{
   	padding-right: 0px;
    border-right: 0px;
  }
  .col.connect {
    width: 100%;
    margin-right: 0px;
    margin-top: 20px;
	}
  .connect ul {
    width: 100%;
    display: block;
    margin-right: 5px;
	}
	.connect ul:nth-child(3) {
    margin-left: 0;
	}
.template-product .inner-wrap {
    margin: 57px 0 0 0;
}
.template-index .bx-wrapper .bx-controls-direction a,
.template-list-collections .bx-wrapper .bx-controls-direction a{
    top: -26px;
}
.contact-form-wrap, .contact-info {
    width: 100%;
}
.contact-info{
 	margin-top: 30px; 
}
.about-vd iframe{
 	height: 262px; 
}
.three_grid .product-links .style_btn:nth-child(2),
.product-links .style_btn:nth-child(2) {
    position: initial;
}
.login-left, .register-right{
    width: 100%;
}
.register-right {
    border-left: 0px;
    padding-left: 0;
}
.active-acco {
    width: 100%;
}
.active-acco input[type="submit"] {
    width: 100%;
  	margin-bottom: 10px;
}
.active-acco .dactv-acc-btn{
	margin-top: 10px;
  	margin-bottom: 0px;
}
.subCat-filter ul li{
 	font-size: 11px; 
}
  
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
.container{
	/*background:#30F;*/
	width:750px;
	
}
body{
    -webkit-text-size-adjust: none;
}


h1{
	font-size:42px;
}
h2{
	font-size:40px;
}
h3{
	font-size:36px;
}
p {
    font-size: 14px;
    line-height: 22px;
}

/*===========  header_footer  =============*/
#main-nav ul li a {
    padding: 0 10px;
    font-size: 15px;
}
.footer_right, .footer_left {
    width: 100%;
}
.social_icon1 li {
    font-size: 20px;
    line-height: 30px;
    margin-right: 35px;
}
.social_icon1 li a {
    width: 30px;
    height: 30px;
}
.social_icon1 li a .fa {
    line-height: 30px;
    font-size: 18px;
}
.email input[type="email"] {
    width: 340px;
    height: 28px;
}
.email input[type="submit"] {
    line-height: 30px;
    width: 140px;
    height: 40px;
}
.col.support {
    margin-right: 40px;
}

.col {
    margin-right: 10px;
}



/*=======================  home   ======================*/

.product_list.three_grid .img-overlay, .img-overlay {
    width: 238px;
    height: 238px;
}
.product_list.three_grid .product_item, .product_list .product_item {
    min-height: 330px;
}
.pd_title {
    font-size: 22px;
    line-height: 24px;
    margin: 0px 0 6px;
}
.three_grid .pd_title {
    font-size: 22px;
    line-height: 24x;
    margin: 3px 0 6px;
}
.three_grid .details:after, .details:after {
    width: 16px;
    height: 12px;
    margin-left: 4px;
    top: 4px;
    right: 4px;
}
.three_grid .product-links .style_btn, .product-links .style_btn {
	font-size: 13px;
	width: 49%;
	padding: 10px 0 10px;
	margin-right: 2%;
}
.three_grid .product-links .style_btn:nth-child(2), .product-links .style_btn:nth-child(2){
	margin:0;
  	
  	position: absolute;
    bottom: 0;
    right: 0;
}
.three_grid .add_cart:after, .add_cart:after {
    width: 18px;
    height: 18px;
    margin-left: 6px;
    top: 0px;
    right: 8px;
}
.bx-wrapper .bx-prev {
    right: 25px;
    left: auto;
}
.bx-wrapper .bx-next {
    right: 0px;
}
.bx-wrapper .bx-controls-direction a {
    top: -50px;
}
.growing_clm {
    padding: 14px 0px 17px;
}
.growing_list .growing_clm:nth-child(5) {
    border-right: 0px solid #fff;
}
.growing_clm p {
    width: 225px;
}
.growing_list .clear{
	display:none;
}

#growing_guide .bx-wrapper .bx-controls-direction a {
    top:-30px;
  	width: 15px;
    background-color: transparent;
}
#growing_guide {
    padding:65px 0 32px;
}
#growing_guide .bx-wrapper .bx-prev{
    background-position: 0 0;
}
#growing_guide .bx-wrapper .bx-next {
    background-position: -19px 0px;
}
.insta_head .insta_title {
    text-align: left;
}

#instagram .bx-wrapper .bx-controls-direction a {
    top: 50%;
}
#instagram .bx-wrapper .bx-prev {
    left: -27px;
}
#instagram .bx-wrapper .bx-next {
    right: -27px;
}
.insta_cont .bx-wrapper .bx-prev {
    left: initial;
    right: 22px;
}
.insat_img {
    height: 200px;
}
.insat_img .insta_overlay p {
    opacity: 0;
    font-size: 14px;
	 height: 238px;	
}
.featu_logo {
    width: 187px;
    height: 84px;
}
.client_logo {
    width: 187px;
    height: 84px;
}

/*===========  accessories  =============*/

.full_list .product_list .product_item {
    margin-right:18px;
}
.product_list .product_item {
    width: 238px;
}
.full_list .product_list .product_item:nth-child(4n) {
    margin-right:18px;
}
.full_list .product_list .product_item:nth-child(3n) {
    margin-right:0
}
.full_list .product_list .product_item .img-overlay {
    width: 238px;
    height: 238px;
}


/*===========  ms_product  =============*/
.small_slide {
    margin-right: 10px;
    margin-bottom: 47px;
    width: 50px;
}
.product_large_slider, .pot_img  {
    width:400px;
    margin-right: 20px;
}
.product_main {
    width: 340px;
}
.social_proof {
    margin: 0;
}
.product_right_info, .pot_details {
    width: 330px;
}
#thumbs a {
    width: 50px !important;
    height: 50px;
}
.small_slide .bx-wrapper .bx-prev {
    left: 11px;
  	top: -13px;
    /*background: url("{{ 'controls_v.png' | asset_url }}") no-repeat 0 -23px;
    top: 115%;*/
}
.small_slide .bx-wrapper .bx-controls-direction a {
    /*height: 10px;*/
}
.small_slide .bx-wrapper .bx-next {
    right: 12px;
    left: initial;
  	top: 112%;
}

h3.product_title {
    line-height: 32px;
    font-size: 28px;
}
.cart_btn {
    float: left;
    margin-top: 15px;
}
.details1 p {
    font-size: 15px;
    line-height: 20px;
}
.social_proof h3 {
	padding: 5px 10px 12px 0;
}

.social_proof p {
    width: 52.9%;	
  	font-size: 15px;
}
.social_proof h3 {
    font-size: 25px;
}
.social_proof {
    margin: 0;
    width: 100%;
  	padding: 10px 3.8%;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#reviews_ratings {
    padding: 40px 0 20px;
}

.reviews_pagination {
    width: 490px;
}
#reviews_ratings {
    padding:0px 0 20px;
}
.all_review .review_list {
    padding: 20px 0px 10px;
}

/*===========  ms_product  =============*/

.product_col .product_right {
    width: 360px;
    padding-left: 15px;
}
.product_col .product_left {
    width: 360px;
}
.reviews_pagination {
    width: 490px;
}
.qty {
    float: none;
}
h3.prod_price {
    font-size: 32px;
}
h5.sub_title {
    width:100%;
    line-height: 22px;
    font-size: 18px;
}
.review_by.box_rev {
    width: 160px;
}

/*===================  CART =============*/

.cart-item-name {
    width: 140px;
}
.cart-des {
    width: 220px;
}
.tr.cart-des h4 {
	font-size:18px;
}
.cart-price {
    width: 100px;
}

.cart-qty {
    width: 90px;
}

/*================  video  ====================*/

.video_item {
    width: 360px;
    margin: 0 30px 20px 0;
}
.video_item:nth-child(2n) {
    margin-right: 0px;
}

#setup_video {
    padding: 50px 0;
}

/*===================  POPUP  =====================*/

#cboxLoadedContent, #colorbox {
    margin: auto;
}
.popup_cart_list {
    padding: 20px 0;
    width: 100%;
}
.popup_cart_info {
    width: 340px;
}

.accessories_img {
    width: 100%;
    height: 192px;
}
.rec_accessories .bx-wrapper .bx-viewport {
    height: 325px !important;
    overflow: hidden;
}
.popup_cart_img {
    width: 260px;
}
#store-loc .store-col {
    width: 28%;
    margin-right: 7%;
}
.logo {
    display: none;
}
.mean-bar .logo {
    display: block;
    position: relative;
    left: 25px;
  	width: 40px;
    margin: 4px 0 0 0;
}
  
.product_list .product_item .product-links{
 	position: relative; 	
  	
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.product_list .product_item:hover .product_info .pd_title,
.product_list .product_item:hover .product_info .price,
.product_list .product_item:hover .product_info .pd_descri{
 	 opacity: 1;
}
.product_info {
    margin: 12px 0px;
}
#collections .main_title a,
.template-index .main_title a{
  	font-size: 12px;
 	/*position: relative; 
  	display: block;
    bottom: -4px;*/
}
#collections .main_title, .template-index .main_title {
    font-size: 34px;
}
.img-overlay a img{
    position: relative;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}
.img-overlay a:nth-child(2) img{
	display: none;    
}
.bx-wrapper .product_list .product_item .product_info .pd_title{
 	height: 52px;
  	overflow: hidden;
}

.three_grid_slider .bx-wrapper .bx-controls-direction a,
.four_grid_slider .bx-wrapper .bx-controls-direction a{
    top: -72px;
  	width: 18px;
  	background-color: transparent;
}
.three_grid_slider .bx-wrapper .bx-controls-direction .bx-next,
.four_grid_slider .bx-wrapper .bx-controls-direction .bx-next{
    right: 0px;    
    background-position: -16px -31px;    
}
.three_grid_slider .bx-wrapper .bx-controls-direction .bx-prev,
.four_grid_slider .bx-wrapper .bx-controls-direction .bx-prev{
 	right: 29px;
    left: initial; 
}
.three_grid_slider .bx-wrapper,
.four_grid_slider .bx-wrapper {
    margin-top: 50px;
}

.growing_list {
    margin-left: -2px;
}
.col.connect {
    margin-right: 0;
}
.hero-slider-mob{
  display: block; 
      margin-top: 0px;
}
.hero-slider{
    display: none; 
}
.template-product .inner-wrap {
    margin: 57px 0 0 0;
}
.template-index .bx-wrapper .bx-controls-direction a,
.template-list-collections .bx-wrapper .bx-controls-direction a{
    top: -24px;
}
.contact-info .social_icon1 li{
 	margin-right: 0px; 
}
.contact-info .social_icon1 li span{
 	display: none; 
}  
.about-vd iframe{
 	height: 420px; 
}
.three_grid .pd_title, .pd_title {
    height: 50px;
    overflow: hidden;
}
.active-acco {
    width: 70%;
}


}



/* Desktops and laptops ----------- */
@media only screen
and (min-width :1025px)
and (max-width : 1180px)  {
.container{
	width:1000px;
}
body{
    -webkit-text-size-adjust: none;
}



/*===========  header_footer  =============*/

.footer_left {
    width: 630px;
}
.col {
    width: 110px;
    margin-right: 20px;	
}
.support ul:nth-child(3) {
    margin-left: 10px;
}
.col.support {
    margin-right: 20px;
}
.col.connect {
    width: 350px;
    margin-right: 0;
}
.social_icon1 li {
    font-size: 14px;
}




/*===========  Home  =============*/



.bx-wrapper .bx-prev {
    right: 25px;
    left: auto;
}
.bx-wrapper .bx-next {
    right: 0px;
}
.bx-wrapper .bx-controls-direction a {
    top: -50px;
}
.insta_cont .bx-wrapper .bx-controls-direction a {
    top: 30px;
}
.insta_cont .bx-wrapper .bx-prev {
    left:5px;
    right: auto;
}

.three_grid .details:after {
    width: 22px;
    height: 16px;
    margin-left: 6px;
    top: 2px;
    right: 8px;
}
.three_grid .add_cart:after {
    width: 20px;
    height: 20px;
    margin-left:6px;
    top: -2px;
    right:10px;
}
.img-overlay {
    width: 230px;
    height: 230px;
}
.product-links .style_btn {
    width: 116px;
    margin-right: 3px;
}
.details:after {
    width: 16px;
    height: 12px;
    margin-left: 3px;
    top: 4px;
    right:2px;
}
.add_cart:after {
    width: 17px;
    margin-left: 4px;
    top: 0px;
    right:5px;
}
.growing_list {
    width: 1000px;
    margin-left: 0;
}
.growing_clm {
    width: 176px;
}
.growing_clm p {
    width: 100%;
}
.growing_clm h4 {
    font-size: 20px;
}
.insat_img {
    width: 210px;
    height: 210px;
}
.insat_img .insta_overlay p {
    line-height: 18px;
    font-size: 14px;
    height: 228px;
    padding: 0 24px;
}

/*===========  accessories  =============*/

.full_list .product_list .product_item .img-overlay {
    width: 235px;
    height: 235px;
}

.full_list .product_list .product_item {
    margin-right: 20px;
    width: 235px;
}
.product_list .product_item {
    min-height: 330px;
}
.product_list.three_grid .product_item {
    min-height: 385px;
}

/*===========  ms_product  =============*/
.small_slide {
    margin-right: 10px;
    margin-bottom: 60px;
}
.product_large_slider, .pot_img  {
    width: 550px;
    margin-right: 20px;
}
.product_main {
    width: 470px;
}
.social_proof {
    margin: 0;
}
.product_right_info, .pot_details {
    width: 430px;
}
.small_slide .bx-wrapper .bx-prev {
    left: 22px;
  	top: -22px;
    /*background: url("{{ 'controls_v.png' | asset_url }}") no-repeat 0 -23px;
    top: 115%;*/
}
.small_slide .bx-wrapper .bx-controls-direction a {
    /*height: 10px;*/
}
.small_slide .bx-wrapper .bx-next {
    right: 22px;
    left: initial;
  	top: 111%;
}


/*===========  ms_product  =============*/

.product_col .product_right {
    width: 485px;
    padding-left: 15px;
}
.product_col .product_left {
    width: 500px;
}
.reviews_pagination {
    width: 740px;
}

/*===================  CART =============*/

.cart-des {
    padding-right: 20px;
    width: 320px;
    float: left;
}


/*================  video  ====================*/

.video_item {
    width: 235px;
    margin: 0 20px 0px 0;
}
#setup_video {
    padding: 50px 0;
}

/*========== New style changes =========*/
.three_grid_slider .bx-wrapper .bx-controls-direction a,
.four_grid_slider .bx-wrapper .bx-controls-direction a{
    /*top: -65px;*/
  	top: -16px;
  	width: 18px;
  	background-color: transparent;
}
.three_grid_slider .bx-wrapper .bx-controls-direction .bx-next,
.four_grid_slider .bx-wrapper .bx-controls-direction .bx-next{
    right: 0px;    
    background-position: -16px -31px;    
}
.three_grid_slider .bx-wrapper .bx-controls-direction .bx-prev,
.four_grid_slider .bx-wrapper .bx-controls-direction .bx-prev{
 	right: 29px;
    left: initial; 
}
.three_grid_slider .bx-wrapper,
.four_grid_slider .bx-wrapper {
    margin-top: 38px;
}
#main-nav ul li a {
    padding: 27px 12px;
}
.about-vd iframe{
 	height: 552px; 
} 
#instagram .bx-wrapper .bx-controls-direction a {
    top: 50%;
}
#instagram .bx-wrapper .bx-prev {
    left: -47px;
}
#instagram .bx-wrapper .bx-next {
    right: -47px;
}
 



}

@media only screen 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
.three_grid .product-links .style_btn:nth-child(2),
.product-links .style_btn:nth-child(2) {
    position: absolute;
    bottom: -2px;
    right: 0;
}
  @media only screen 
  and (min-device-width : 480px)
  and (max-device-width : 767px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .three_grid .product-links .style_btn:nth-child(2),
    .product-links .style_btn:nth-child(2) {
        position: initial;
    } 
  }
  @media only screen 
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .three_grid .product-links .style_btn:nth-child(2), .product-links .style_btn:nth-child(2) {
      padding: 11px 0 11px;
  }
}

